<div class="w-100">
    <div class="flex-p">
        <div class="row wrap">
            <div class="col-sm-12 no-padding">
                <p class="col-sm-12" style="margin-top: 20px !important;">
                    <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Project Code:</span>
                    <span style="font-size: 16px; margin-right: 50px">APM 1028 </span>
                    <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Client Name:</span>
                    <span style="font-size: 16px; margin-right: 50px">Adani kawai </span>
                    <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Project
                        Status:</span>
                    <span style="font-size: 16px; margin-right: 8px;margin-top: 2px;"> Active</span>

                </p>
                <div class="row super-row mb-4" style="padding: 5px 24px 10px 23px">

                    <a routerLinkActive="active-link" routerLink="POW" class="col-sm font-color" (click)="treeclick()">Plan of Work
                        <br /></a>
                    <!-- <a routerLinkActive="active-link" routerLink="project-budget" class="col-sm font-color">Budget
                        <br /> </a>
                    <a routerLinkActive="active-link" routerLink="project-boq" class="col-sm font-color">BOQ
                        <br /> </a>
                    <a routerLinkActive="active-link" routerLink="project-deviation" class="col-sm font-color">Deviations
                                    <br /> </a>
                    <a routerLinkActive="active-link" routerLink="project-wbs" class="col-sm font-color">WBS
                        <br /> </a> -->
                    <a routerLinkActive="active-link" routerLink="team" class="col-sm font-color">Team
                    </a>
                    <!-- <a routerLinkActive="active-link" routerLink="project-scheduling"
                        class="col-sm font-color">Scheduling
                        <br /></a> -->
                    <a routerLinkActive="active-link" routerLink="jobcards"
                    class="col-sm font-color" >Job Cards
                        <br /></a>
                    <a routerLinkActive="active-link" routerLink="project-updates" class="col-sm font-color">Updates
                        <br /></a>
                    <!-- <a routerLinkActive="active-link" routerLink="project-hours" class="col-sm font-color">Hours
                        <br /></a>
                    <a routerLinkActive="active-link" routerLink="project-expenses" class="col-sm font-color">Expenses
                        <br /></a>
                    <a routerLinkActive="active-link" routerLink="project-requisition"
                        class="col-sm font-color">Requisitions
                        <br /></a>
                    <a routerLinkActive="active-link" routerLink="project-issues" class="col-sm font-color">Issues
                        <br /></a> -->
                    <a routerLinkActive="active-link" routerLink="service-reports"
                        class="col-sm font-color">Service Reports
                    </a>
                    <a routerLinkActive="active-link" routerLink="task-log" class="col-sm font-color">Task Log
                        <br /> </a>
                    <a routerLinkActive="active-link" routerLink="project-document" class="col-sm font-color">Docs
                        <br /></a>


                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>