<div class="container-fluid">
<div class="row justify-content-center" style="margin-bottom:7px;">
    <div class="col-auto pl-0">
        <div class="flex-p">
            <button mat-raised-button class="pull-right" routerLinkActive="active-link" routerLink="/admin/manage-users/permissions/admin-permissions">Admin</button>
            <button mat-raised-button class="pull-right" routerLinkActive="active-link" routerLink="/admin/manage-users/permissions/finance-permissions">Claims</button>
            <!-- <button mat-raised-button class="pull-right" routerLinkActive="active-link" routerLink="/admin/manage-users/permissions/purchases-permissions">Purchases</button>
            <button mat-raised-button class="pull-right" routerLinkActive="active-link" routerLink="/admin/manage-users/permissions/assets-permissions">Assets</button>
            <button mat-raised-button class="pull-right" routerLinkActive="active-link" routerLink="/admin/manage-users/permissions/contracts-permissions">Contracts</button> -->
            <button mat-raised-button class="pull-right" routerLinkActive="active-link" routerLink="/admin/manage-users/permissions/project-permissions">Job Orders</button>
            <!-- <button mat-raised-button class="pull-right" routerLinkActive="active-link" routerLink="/admin/manage-users/permissions/quotes-permissions">Quotes</button> -->
            <button mat-raised-button class="pull-right" routerLinkActive="active-link" routerLink="/admin/manage-users/permissions/client-permissions">Clients</button>
            <button mat-raised-button class="pull-right" routerLinkActive="active-link" routerLink="/admin/manage-users/permissions/radar-permission">Dashboard</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
</div>