
<div class="NewHeader">
  <h1 mat-dialog-title>
     Document
  </h1>
</div>
<div mat-dialog-content>

<form class="form-horizontal">

  

  <div class="form-group">
      <label class="control-label col-sm-4 add-member-label">Upload : </label>
      <div class="col-sm-8">
        <input type="file">
      </div>
    </div>
  
</form>
</div>
<mat-dialog-actions align="end">
<button mat-raised-button class="btn-primary" [mat-dialog-close]="'test'"><span>Save</span></button>
  <button mat-raised-button class="CancelClass" (click)="close()">Close</button>
</mat-dialog-actions> 