<h1 mat-dialog-title class="custom-header" style="background-color:#286ba5 !important;height:50px">Edit Details</h1>
<form>
  <div mat-dialog-content>
    <div class="col-sm-12">
      <div class="row">
        <div class="form-group col-sm-12">
          <div class="row">
            <label class="col-sm-12 add-member-label">Issue No: </label>
            <div class="col-sm-12">
              <input class="form-control" placeholder="Issue No" type="text">
            </div>
          </div>

        </div>
        <div class="form-group col-sm-12">
          <div class="row">
            <label class="col-sm-12 add-member-label">Revision No: </label>
            <div class="col-sm-12">
              <input class="form-control" placeholder="Revision No" type="text">
            </div>
          </div>

        </div>

        <div class="form-group col-sm-12">
          <div class="row">
            <label class="col-sm-12 add-member-label">Format No: </label>
            <div class="col-sm-12">
              <input class="form-control" placeholder="Enter Format No" type="text">
            </div>

          </div>

        </div>
        <div class="form-group col-sm-12">
          <div class="row">
            <label class="col-sm-12 add-member-label">Project Code: </label>
            <div class="col-sm-12">
              <input class="form-control" placeholder="Enter Project Code" type="text">
            </div>

          </div>

        </div>

      </div>
    </div>


  </div>

  <mat-dialog-actions align="center">
    <button mat-raised-button class="add-hover btn-primary" type="submit">
      <mat-icon>send</mat-icon>&nbsp;Save
    </button>
    <button mat-raised-button type="button" class="add-dark-hover btn-default" (click)="close()">
      <mat-icon>cancel</mat-icon>&nbsp;Cancel
    </button>
  </mat-dialog-actions>
</form>