<div style="min-width: 80.33333%;">
  <div class="row">
    <div class="col-12" style="margin-left: 2px;margin-top:20px">
        <!-- <h3 style="margin-top: 43px;margin-bottom:20px">Images:</h3> -->
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-4 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="../../../assets/img11.png" 
                    alt="Card image cap" style="height: 318px;cursor: pointer;" (click)="addNewImage(null)">
                    <div class="card-body">
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-4 col-md-6">
                <!-- Card -->
               
                <div class="card">
                  <img class="card-img-top img-responsive" src="../../../../../assets/image_7.png" alt="Card image cap" style="cursor: pointer;height:251px">
                  <div class="card-body">
                      <h4 class="card-title">Site images - lansdown</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
              </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-4 col-md-6">
               
                <div class="card">
                  <img class="card-img-top img-responsive" src="../../../../../assets/image_6.png" alt="Card image cap" style="cursor: pointer;height:251px">
                  <div class="card-body">
                      <h4 class="card-title">Interior work designs</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
              </div>
                <!-- Card -->
            </div>
            <!-- column -->
            
            <!-- column -->
        </div>
        <!-- Row -->
    </div>
</div>
<div class="row" style="margin-top:20px">
  <div class="col-12" style="margin-left: 2px;">
      <!-- <h4 class="m-b-15" style="margin-top: 43px;">Image:</h4> -->
      <!-- Row -->
      <div class="row">
          <!-- column -->
          <div class="col-lg-4 col-md-6">
              <!-- Card -->
              <div class="card">
                <img class="card-img-top img-responsive" src="../../../../../assets/image_5.png" alt="Card image cap" style="cursor: pointer;height: 251px;">
                <div class="card-body">
                  <h4 class="card-title">Construction Site - Sector 56 update</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
              <!-- Card -->
          </div>
          <!-- column -->
          <!-- column -->
          <div class="col-lg-4 col-md-6">
              <!-- Card -->
              <div class="card">
                  <img class="card-img-top img-responsive" src="../../../../../assets/image_4.png" alt="Card image cap" style="cursor: pointer;height: 251px;">
                  <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
              </div>
              <!-- Card -->
          </div>
          <!-- column -->
          <!-- column -->
          <div class="col-lg-4 col-md-6">
              <!-- Card -->
             
              <div class="card">
                <img class="card-img-top img-responsive" src="../../../../../assets/image_3.png"
                 alt="Card image cap" style="height: 251px;cursor: pointer;">
                <div class="card-body">
                  <h4 class="card-title"> Material store availability</h4>
                  <!-- <span><a style="color:blue" routerLink="/arani/catalogue/product-dashboard/images"  target="_blank">Edit</a></span><span style="margin-left: 10px;margin-right: 10px;">|</span>   -->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
              <!-- Card -->
          </div>
          <!-- column -->
          
          <!-- column -->
      </div>
      <!-- Row -->
  </div>
</div>
<!-- new row applied here -->
<div class="row" style="margin-top:20px">
  <div class="col-12" style="margin-left: 2px;">
      <!-- <h4 class="m-b-15" style="margin-top: 43px;">Image:</h4> -->
      <!-- Row -->
      <div class="row">
          <!-- column -->
          <div class="col-lg-4 col-md-6">
            <!-- Card -->
             <!-- Card -->
             <div class="card">
              <img class="card-img-top img-responsive" src="../../../../../assets/image_2.png" alt="Card image cap" style="cursor: pointer;height:251px">
              <div class="card-body">
                  <h4 class="card-title"> Completed Site image</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
          </div>
        </div>
          <!-- column -->
          <!-- column -->
          <div class="col-lg-4 col-md-6">
            <!-- Card -->
            <div class="card">
              <img class="card-img-top img-responsive" src="../../../../../assets/image_1.png"
               alt="Card image cap" style="cursor: pointer;height: 251px;">
              <div class="card-body">
                  <h4 class="card-title"> Blue print of Planning</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
          </div>
            <!-- Card -->
        </div>
          <!-- column -->
          <!-- column -->
          
          <!-- column -->
          <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <!-- <div class="card">
                <img class="card-img-top img-responsive" src="../../assets/img7.jpg" alt="Card image cap" style="cursor: pointer;height:251px">
                <div class="card-body">
                    <h4 class="card-title">Site images - lansdown</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div> -->
            <!-- Card -->
        </div>
          <!-- column -->
      </div>
      <!-- Row -->
  </div>
</div>
<!-- end of new row appled here -->
</div>