<div class="container-fluid">

<div class="row-wrap">
  <div class="w-100">
    <div fxLayout="row">
      <div class="col-sm-6 p-0 m-0">
        <div class="pills">
          <ul class="nav nav-pills" style="margin-top: 15px;margin-bottom: 18px;">

            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth"
                  routerLink="/claims/active" >
                Actives
              </a>
            </li>
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth"
                  routerLink="/claims/archives"
                  >
               Archives
              </a>
            </li>

          </ul>
        </div>
      </div>

      <div class="col-sm-6" >

        
      </div>
      
    </div>
  </div>
</div>
<router-outlet></router-outlet> 
</div>