<div class="NewHeader" style="background-color:#286ba5 !important;height:50px">
  <h1 mat-dialog-title> 
   Add Job Card
  </h1>
</div>
<div mat-dialog-content>
  <div class="row">
    <div class="col-sm-12">

      <form class="form-horizontal">

        <div class="form-group">
          <label class="control-label col-sm-4 add-member-label" for="pwd">Select Type :
          </label>
          <div class="col-sm-8">
    
            <mat-select (valueChange)="changeModel($event)" placeholder = "Select Spare Type" class="form-control">
              <mat-option *ngFor = "let catalog of catalogTitles " [value]="catalog"> {{catalog.title}}</mat-option>
            </mat-select>
    
            <!-- <mat-select class="form-control" placeholder="Select Type">
              <mat-option [value]="0">Select</mat-option>
              <mat-option [value]="1"  routerLink="/joborders/joborder-dashboard/jobcard/jobcarddetails"  (click)="close()"  >Isolation Valve</mat-option>
              <mat-option [value]="2" routerLink="/joborders/joborder-dashboard/jobcard/jobcarddetails1"   (click)="close()"  >Safety Valve</mat-option>
            </mat-select> -->
          </div>
        </div>
       
      </form>
    </div>
  </div>
</div>
<mat-dialog-actions align="end">
  
  <button mat-raised-button class="btn-primary" (click)="redirect()" [mat-dialog-close]="'test'" >
    <mat-icon>send</mat-icon> Go
  </button>
  <button mat-raised-button (click)="close()" style="color: rgb(7, 10, 7); background-color: #e0e0e0;">
    <mat-icon>cancel</mat-icon> Close
  </button>

</mat-dialog-actions>