<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">

      <button mat-raised-button class="  btn-primary float-right " (click)=captureScreen()>Download Preview</button>
    </div>
  </div>
  <div class="row" id='contentToConvert'>
    <div class="col-sm-12 pl-2 pr-5 mt-3">

      <div id="grid-table-container" class="table-responsive" style="margin-left: 10px;">
        <table class="table table-bordered mb-0">
          <tr class="tbl-head">
            <td class="text-center" colspan="9" style="border-left:none!important; vertical-align: middle;">
              <label style="position:relative;text-align: center; font-size:25px!important" class="label-bold">EFCO
                Maschinenbau India Private Limited</label><br>
              <label style="position:relative; text-align: center; font-size:14px!important" class="label-bold">JOB CARD
                - SAFETY VALVE</label>
            </td>

            <td class="text-center" colspan="5" style="border-left:none!important;background-color:#ffcc00">

              <label>Issue Number: </label>
              <br>
              <label>Revision Number: </label>
              <br>
              <label>Format Number: </label>
              <br>
            </td>
          </tr>
        </table>
        <table id="example2" class="table table-bordered mb-0" style=" border:1px solid #ddd !important">

          <tr>
            <th style="vertical-align: middle; width: 200px !important;">EFCO Unique No:</th>
            <th> </th>
            <th style="vertical-align: middle; width: 300px !important;">Valve Tag No: </th>
            <th> </th>
            <th class="text-center rotate text-center" style="vertical-align: middle;" rowspan="5"> <span>Signature
              Tech/Supervisor</span> </th>
          </tr>
          <tr>
            <th style="vertical-align: middle;">Plant / Unit:</th>
            <th> </th>
            <th style="vertical-align: middle;">Customer Unique No: </th>
            <th> </th>
          </tr>
          <tr>
            <th style="vertical-align: middle;">Make/ Manufacturer:</th>
            <th> </th>
            <th style="vertical-align: middle;">Work Order No: </th>
            <th> </th>
          </tr>
          <tr>
            <th style="vertical-align: middle;">Size:</th>
            <th> </th>
            <th style="vertical-align: middle;">Type / Model: </th>
            <th> </th>
          </tr>
          <tr>
            <th style="vertical-align: middle;">Orifice:</th>
            <th> </th>
            <th style="vertical-align: middle;">Serial No: </th>
            <th> </th>
          </tr>
          <tr>
            <th style="vertical-align: middle;">Set Pressure:</th>
            <th> </th>
            <th style="vertical-align: middle;">Date In: </th>
            <th> </th>
            <th rowspan="6"> </th>
          </tr>
          <tr>
            <th style="vertical-align: middle;">CDTP:</th>
            <th> </th>
            <th style="vertical-align: middle;">Date Out: </th>
            <th> </th>
          </tr>
          <tr>
            <th style="vertical-align: middle;">Back Pressure:</th>
            <th> </th>
            <th style="vertical-align: middle;">Guide Ring Setting: </th>
            <th> </th>
          </tr>
          <tr>
            <th style="vertical-align: middle;">Bellow:</th>
            <th> </th>
            <th style="vertical-align: middle;">Nozzle Ring Setting: </th>
            <th> </th>
          </tr>
          <tr>
            <th style="vertical-align: middle;">Initial Adj Screw:</th>
            <th> </th>
            <th style="vertical-align: middle;">Initial No. of Threads </th>
            <th> </th>
          </tr>
          <tr>
            <th style="vertical-align: middle;">QAP :</th>
            <th colspan="3"> </th>

          </tr>


          <tr class="tr-grid-header">
            <th class="text-left" >Valve Parts</th>
            <th class="text-left" style=" width: 400px !important;">Observations</th>
            <th class="text-left" >Spares to be Replaced</th>
            <th class="text-left"> Repair Procedure as per API RP621</th>
            <th class="text-center rotate text-center" style="vertical-align: middle;" rowspan="6"> <span>Signature
              Tech/Supervisor</span> </th>
          </tr>

        
            <tr>
              <ng-container>
                <td>
                  Body
                </td>
                <td >
                  <div class="form-group">
                  </div>
                </td>
                <td ></td>
                <td >
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container>
                <td>
                  Cap
                </td>
                <td >
                  <div class="form-group">
                  </div>
                </td>
                <td ></td>
                <td >
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container>
                <td>
                  Lever
                </td>
                <td >
                  <div class="form-group">
                  </div>
                </td>
                <td ></td>
                <td >
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container>
                <td>
                  Adjusting Screw
                </td>
                <td >
                  <div class="form-group">
                  </div>
                </td>
                <td ></td>
                <td >
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container>
                <td>
                  Studs and Nuts
                </td>
                <td >
                  <div class="form-group">
                  </div>
                </td>
                <td ></td>
                <td >
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container>
                <td>
                  Spring
                </td>
                <td >
                  <div class="form-group">
                  </div>
                </td>
                <td ></td>
                <td >
                </td>
                <td rowspan="14" ></td>
              </ng-container>
            </tr>
            <tr>
              <ng-container>
                <td>
                  Spring Washer
                </td>
                <td >
                  <div class="form-group">
                  </div>
                </td>
                <td ></td>
                <td >
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container>
                <td>
                  Spindle
                </td>
                <td >
                  <div class="form-group">
                  </div>
                </td>
                <td ></td>
                <td >
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container>
                <td>
                  Inlet Flange
                </td>
                <td >
                  <div class="form-group">
                  </div>
                </td>
                <td ></td>
                <td >
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container>
                <td>
                  Guide
                </td>
                <td >
                  <div class="form-group">
                  </div>
                </td>
                <td ></td>
                <td >
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container>
                <td>
                  Disc Holder
                </td>
                <td >
                  <div class="form-group">
                  </div>
                </td>
                <td ></td>
                <td >
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container>
                <td>
                  Disc
                </td>
                <td >
                  <div class="form-group">
                  </div>
                </td>
                <td ></td>
                <td >
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container>
                <td>
                  Guide Ring
                </td>
                <td >
                  <div class="form-group">
                  </div>
                </td>
                <td ></td>
                <td >
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container>
                <td>
                  Nozzle Ring
                </td>
                <td >
                  <div class="form-group">
                  </div>
                </td>
                <td ></td>
                <td >
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container>
                <td>
                  Nozzle
                </td>
                <td >
                  <div class="form-group">
                  </div>
                </td>
                <td ></td>
                <td >
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container>
                <td>
                  Soft Seals
                </td>
                <td >
                  <div class="form-group">
                  </div>
                </td>
                <td ></td>
                <td >
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container>
                <td>
                  Bellow
                </td>
                <td >
                  <div class="form-group">
                  </div>
                </td>
                <td ></td>
                <td >
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container>
                <td>
                  Outlet Flange
                </td>
                <td >
                  <div class="form-group">
                  </div>
                </td>
                <td ></td>
                <td >
                </td>
              </ng-container>
            </tr>
            <tr>
              <ng-container>
                <td>
                  Signature of Incharge / Engineer Operation
                </td>
                <td >
                  <div class="form-group">
                  </div>
                </td>
                <th >Name:</th>
                <th >Date:
                </th>
              </ng-container>
            </tr>

        </table>


      </div>
      <div id="grid-table-container" class="table-responsive" style="margin-left: 10px">
        <table id="example2" class="table table-bordered mb-0" style=" border:1px solid #ddd !important">
          <thead class="tbl-head">
            <tr>
              <td rowspan="2" colspan="3" class="table-text-center">
                <br /><label class="label-bold">Description of Item</label>
              </td>
              <td rowspan="2" class="table-text-center">
                <br /><label class="label-bold">QTY</label>
              </td>

              <td class="text-center" colspan="2">
                <label class="label-bold">Material Indent</label>
              </td>
              <td class="text-center" rowspan="2">
                <br /><label class="label-bold">Date of Receipt</label>
              </td>
              <td class="text-center" rowspan="2">
                <br /><label class="label-bold">Technician</label>
              </td>
              <td class="text-center" rowspan="2" colspan="2">
                <br /><label class="label-bold">Supervisor</label>
              </td>
            </tr>
            <tr>
              <td class="text-center"><label class="label-bold">M.I.No</label></td>
              <td class="text-center"><label class="label-bold">Date</label></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="3" style="vertical-align: middle">Disc</td>
              <td></td>
              <td>

              </td>

              <td>

              </td>
              <td>

              </td>
              <td> </td>
              <td colspan="2"> </td>
            </tr>
            <tr>
              <td colspan="3" style="vertical-align: middle">Guide</td>
              <td> </td>
              <td></td>
              <td>

              </td>
              <td>

              </td>
              <td> </td>
              <td colspan="2"> </td>
            </tr>
            <tr>
              <td colspan="3" style="vertical-align: middle">Guide Ring</td>
              <td> </td>
              <td></td>
              <td>

              </td>
              <td>

              </td>
              <td> </td>
              <td colspan="2"> </td>
            </tr>
            <tr>
              <td colspan="3" style="vertical-align: middle">Nozzle</td>
              <td> </td>
              <td></td>
              <td>

              </td>
              <td>

              </td>
              <td> </td>
              <td colspan="2"> </td>
            </tr>
            <tr>
              <td colspan="3" style="vertical-align: middle">Nozzle Ring</td>
              <td> </td>
              <td></td>
              <td>

              </td>
              <td>

              </td>
              <td> </td>
              <td colspan="2"> </td>
            </tr>
            <tr>
              <td colspan="3" style="vertical-align: middle">Others</td>
              <td> </td>
              <td></td>
              <td>

              </td>
              <td>

              </td>
              <td> </td>
              <td colspan="2"> </td>
            </tr>
            <tr class="theadcolor">
              <th class="text-center" colspan="9">Spring Details</th>
              <th class="text-center text-center" style="vertical-align: middle;padding-right: 50px !important;  max-width: 30px !important;
               transform: rotate(90deg); border: none !important; " rowspan="4"> <span>Signature
                  Tech/Supervisor</span> </th>
            </tr>
            <tr class="theadcolor">
              <th colspan="4" style="vertical-align: middle" class="text-center">Numbers</th>
              <th class="text-center" style="vertical-align: middle">OD</th>
              <th class="text-center" style="vertical-align: middle">Chord Dia</th>
              <th class="text-center" style="vertical-align: middle">Length</th>
              <th class="text-center" style="vertical-align: middle">No. of Coils</th>
              <th class="text-center" style="vertical-align: middle">Status</th>
            </tr>
            <tr>
              <td colspan="4" style="vertical-align: middle">
                -
              </td>
              <td>

              </td>
              <td>

              </td>
              <td>

              </td>
              <td>

              </td>

              <td>

              </td>
            </tr>
            <tr class="theadcolor">
              <th class="text-center" colspan="9">Gasket</th>
            </tr>
            <tr class="theadcolor">
              <th colspan="4" style="vertical-align: middle">Type</th>
              <th class="text-center" style="vertical-align: middle">OD</th>
              <th class="text-center" style="vertical-align: middle">ID</th>
              <th class="text-center" style="vertical-align: middle">Thickness</th>
              <th colspan="2" class="text-center" style="vertical-align: middle">Drawing</th>
              <th rowspan="2" class="text-center" style="vertical-align: middle;"></th>
            </tr>
            <tr>
              <td colspan="4" style="vertical-align: middle"><span>Gasket</span></td>
              <td>

              </td>
              <td>

              </td>
              <td>

              </td>

              <td colspan="2">

              </td>
            </tr>
            <tr class="theadcolor">
              <th class="text-center" colspan="10">Drawings / Sketch of Components / Consumables</th>
            </tr>
            <tr class="theadcolor">
              <td colspan="12" style="height: 320px;"></td>
            </tr>

          </tbody>
        </table>
      </div>

      <div id="grid-table-container" class="table-responsive" style="margin-left: 10px;margin-top: 90px;">
        <table id="example2" class="table table-bordered">

          <thead class="tbl-head">
            <tr style="border-bottom: 1px white solid;">
              <th class="text-center" colspan="18">Details of Repair</th>
            </tr>
            <tr style="border-bottom: 1px white solid;">
              <th rowspan="2" style="vertical-align: middle;">Location of Repair</th>

              <th class="text-center" colspan="8">First Repair</th>
              <th class="text-center" colspan="7">Second Repair <small>(If Valve FAILS in first attempt)</small></th>
              <!-- <th class="text-center" style="vertical-align: middle;" rowspan="2">Assembly</th>
          <th class="text-center" style="vertical-align: middle;" rowspan="2">Handed Over</th> -->

            </tr>
            <tr style="border-bottom: 1px white solid;">
              <th>Intial LPT</th>
              <th>Welding</th>
              <th>PWHT</th>
              <th>Machining</th>
              <th>Lapping</th>
              <th>Final LPT</th>
              <th>Blue Match</th>
              <th>Assembly</th>
              <th>Welding</th>
              <th>PWHT</th>
              <th>Machining</th>
              <th>Lapping</th>
              <th>Final LPT</th>
              <th>Blue Match</th>
              <th>Assembly</th>


            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="vertical-align: middle;">
                Conformity of Process
              </td>
              <td style="vertical-align: middle;">
                Date (Ok / NOT
                Ok)</td>
              <td style="vertical-align: middle;">
                Date (Ok / NOT
                Ok)</td>
              <td style="vertical-align: middle;">
                Date (Ok / NOT
                Ok)</td>
              <td style="vertical-align: middle;">
                Date (Ok / NOT
                Ok)</td>
              <td style="vertical-align: middle;">
                Date (Ok / NOT
                Ok)</td>
              <td style="vertical-align: middle;">
                Date (Ok / NOT
                Ok)</td>
              <td style="vertical-align: middle;">
                Date (Ok / NOT
                Ok)</td>
              <td style="vertical-align: middle;">
                Date (Ok / NOT
                Ok)</td>
              <td style="vertical-align: middle;">
                Date (Ok / NOT
                Ok)</td>
              <td style="vertical-align: middle;">
                Date (Ok / NOT
                Ok)</td>
              <td style="vertical-align: middle;">
                Date (Ok / NOT
                Ok)</td>
              <td style="vertical-align: middle;">
                Date (Ok / NOT
                Ok)</td>
              <td style="vertical-align: middle;">
                Date (Ok / NOT
                Ok)</td>
              <td style="vertical-align: middle;">
                Date (Ok / NOT
                Ok)</td>
              <td style="vertical-align: middle;">
                Date (Ok / NOT
                Ok)</td>
            </tr>

            <tr>
              <td style="vertical-align: middle;">
                Nozzle
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;" rowspan="5">
              </td>
              <td style="vertical-align: middle;" rowspan="5">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;" rowspan="5">
              </td>
              <td style="vertical-align: middle;" rowspan="5">
              </td>
            </tr>

            <tr>
              <td style="vertical-align: middle;">
                Disc
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>

              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>

            </tr>

            <tr>
              <td style="vertical-align: middle;">
                Spindle
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>

              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>

            </tr>

            <tr>
              <td style="vertical-align: middle;">
                Bellow
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>

              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>

            </tr>

            <tr>
              <td style="vertical-align: middle;">
                Others
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>

              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>
              <td style="vertical-align: middle;">
              </td>

            </tr>

            <tr>
              <td style="vertical-align: middle;">
                Qualified Welder Name
              </td>
              <td style="vertical-align: middle;" colspan="2">

              </td>
              <td style="vertical-align: middle;">
                QC Signature
              </td>
              <td style="vertical-align: middle;" colspan="2">

              </td>
              <td>
                Date
              </td>
              <td colspan="2">

              </td>
              <td colspan="2">

              </td>
              <td style="vertical-align: middle;">
                QC Signature
              </td>

              <td colspan="2">

              </td>
              <td>
                Date
              </td>
              <td colspan="2">

              </td>
            </tr>
            <tr>
              <td style="vertical-align: middle;">
                Blue Match Operator
              </td>
              <td style="vertical-align: middle;" colspan="2">

              </td>
              <td style="vertical-align: middle;">
                QC Signature
              </td>
              <td style="vertical-align: middle;" colspan="2">

              </td>
              <td>
                Date
              </td>
              <td colspan="2">

              </td>
              <td colspan="2">

              </td>
              <td style="vertical-align: middle;">
                QC Signature
              </td>

              <td colspan="2">

              </td>
              <td>
                Date
              </td>
              <td colspan="2">

              </td>
            </tr>
            <tr>
              <td style="vertical-align: middle;">
                Test History as per API 527</td>
              <td style="vertical-align: middle;text-align: center !important;" colspan="8">
                First Repair
              </td>
              <td style="vertical-align: middle;" colspan="2">
                Test History as per API 527
              </td>
              <td style="vertical-align: middle;text-align: center !important;" colspan="6">
                Second Repair
              </td>

            </tr>
            <tr>
              <td style="vertical-align: middle;">
                Set Pressure Test
              </td>
              <td style="vertical-align: middle;" colspan="3">

              </td>
              <td style="vertical-align: middle;" colspan="2">
                Medium
              </td>
              <td style="vertical-align: middle;" colspan="3">

              </td>
              <td style="vertical-align: middle;" colspan="2">
                Set Pressure Test
              </td>
              <td style="vertical-align: middle;" colspan="2">

              </td>
              <td style="vertical-align: middle;">
                Medium
              </td>
              <td style="vertical-align: middle;" colspan="3">

              </td>

            </tr>

            <tr>
              <td style="vertical-align: middle;">
                Cold Set Pressure Test
              </td>
              <td style="vertical-align: middle;" colspan="3">

              </td>
              <td style="vertical-align: middle;" colspan="2">
                Bubbles at 90%
              </td>
              <td style="vertical-align: middle;" colspan="3">

              </td>
              <td style="vertical-align: middle;" colspan="2">
                Cold Set Pressure Test
              </td>
              <td style="vertical-align: middle;" colspan="2">

              </td>
              <td style="vertical-align: middle;">
                Bubbles at 90%
              </td>
              <td style="vertical-align: middle;" colspan="3">

              </td>

            </tr>

            <tr>
              <td style="vertical-align: middle;">
                Back Test Pressure
              </td>
              <td style="vertical-align: middle;" colspan="3">

              </td>
              <td style="vertical-align: middle;" colspan="2">
                Final Adj of Screw ht
              </td>
              <td style="vertical-align: middle;" colspan="3">

              </td>
              <td style="vertical-align: middle;" colspan="2">
                Back Test Pressure
              </td>
              <td style="vertical-align: middle;" colspan="2">

              </td>
              <td style="vertical-align: middle;">
                Final Adj of Screw ht
              </td>
              <td style="vertical-align: middle;" colspan="3">

              </td>

            </tr>

            <tr>
              <td style="vertical-align: middle;">
                Below Test
              </td>
              <td style="vertical-align: middle;" colspan="3">

              </td>
              <td style="vertical-align: middle;" colspan="2">
                Test Status
              </td>
              <td style="vertical-align: middle;" colspan="3">

              </td>
              <td style="vertical-align: middle;" colspan="2">
                Below Test
              </td>
              <td style="vertical-align: middle;" colspan="2">

              </td>
              <td style="vertical-align: middle;">
                Test Status
              </td>
              <td style="vertical-align: middle;" colspan="3">

              </td>

            </tr>


            <tr>
              <td colspan="16">If valve failed in first repair, mention reasons / Root cause analysis </td>
            </tr>
            <tr>
              <td style="vertical-align: middle;">
                <div class="row">
                  <div class="col-sm-12">
                    Product Acceptance
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    A. Valve Hydrote
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    or
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    B. Plant Lightup
                  </div>
                </div>
              </td>
              <td style="vertical-align: middle;" colspan="2">

              </td>
              <td style="vertical-align: middle;">
                QC Signature
              </td>
              <td style="vertical-align: middle;" colspan="2">

              </td>
              <td style="vertical-align: middle;">
                Date
              </td>
              <td colspan="2" style="vertical-align: middle;">

              </td>
              <td colspan="2">

              </td>
              <td style="vertical-align: middle;">
                QC Signature
              </td>

              <td colspan="2">

              </td>
              <td style="vertical-align: middle;">
                Date
              </td>
              <td colspan="2" style="vertical-align: middle;">

              </td>
            </tr>


            <tr>
              <td>
                Signature of Manager Operations
              </td>
              <td colspan="2">

              </td>
              <td colspan="2" style="vertical-align:middle;">
                Name
              </td>
              <td colspan="5" style="vertical-align: middle;">

              </td>
              <td colspan="3" style="vertical-align:middle;">
                Date
              </td>
              <td colspan="3" style="vertical-align: middle;">

              </td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>