<div id="divView"></div>
<div>
    <div class="col-sm-2">
        <div class="w-100">
            <div class="row">
                <div class="col-sm-12 p-2 pl-3">
                    <p-panelMenu id="tree" [model]="item" [style]="{'width':'100%'} "></p-panelMenu>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="row">
            <div class="pl-5 col-sm-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>