<h1 mat-dialog-title class="custom-header" style="background-color:#286ba5 !important;height:50px">Update Contract Details</h1>
<form>
<div mat-dialog-content>
<div class="col-sm-12">
    <div class="row">
      <div class="form-group col-sm-6">
        <div class="row">
            <label class="col-sm-12 add-member-label">Contract#: </label>
            <div class="col-sm-12">
              <mat-select class="form-control" placeholder="Select Contract">
                <mat-option value="1">2478BA</mat-option>
                <mat-option value="2">3478BA</mat-option>
                <mat-option value="3">4478BA</mat-option>
                <mat-option value="4">5478BA</mat-option>
              </mat-select>
            </div>
        </div>
    </div>
        <div class="form-group col-sm-6">
            <div class="row">
                <label class="col-sm-12 add-member-label">Contractor: </label>
                <div class="col-sm-12">
                  <mat-select class="form-control" placeholder="Select Contractor">
                    <mat-option value="1">2478BA</mat-option>
                    <mat-option value="2">3478BA</mat-option>
                    <mat-option value="3">4478BA</mat-option>
                    <mat-option value="4">5478BA</mat-option>
                  </mat-select>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-6">
          <div class="row">
              <label class="col-sm-12 add-member-label">Contract Type: </label>
              <div class="col-sm-12">
                <mat-select class="form-control" placeholder="Select Contract Type">
                  <mat-option value="1">External</mat-option>
                  <mat-option value="2">Internal</mat-option>
                </mat-select>
              </div>
          </div>
      </div>
      <div class="form-group col-sm-6">
        <div class="row">
            <label class="col-sm-12 add-member-label">Contractor Ref: </label>
            <div class="col-sm-12">
              <mat-select class="form-control" placeholder="Select Contract Reference">
                <mat-option value="1">A SRPR</mat-option>
                <mat-option value="2">B SRPR</mat-option>
                <mat-option value="3">C SRPR</mat-option>
                <mat-option value="4">D SRPR</mat-option>
              </mat-select>
            </div>
        </div>
    </div>

    <div class="form-group col-sm-6">
      <div class="row">
          <label class="col-sm-12 add-member-label">Site: </label>
          <div class="col-sm-12">
            <mat-select class="form-control" placeholder="Select Site">
              <mat-option value="1">Sector 56</mat-option>
              <mat-option value="2">Lansdown</mat-option>
              <mat-option value="3">Newton</mat-option>
            </mat-select>
          </div>
      </div>
  </div>

  <div class="form-group col-sm-6">
    <div class="row">
        <label class="col-sm-12 add-member-label">SOW Titles: </label>
        <div class="col-sm-12">
          <input type="text" class="form-control" placeholder="Enter SOW Titles" required>
        </div>
    </div>
</div>


<div class="form-group col-sm-6">
  <div class="row">
      <label class="col-sm-12 add-member-label">Consultant: </label>
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="Enter Consultant Name" required>
      </div>
  </div>
</div>

<div class="form-group col-sm-6">
  <div class="row">
      <label class="col-sm-12 add-member-label">BOQ: </label>
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="Enter BOQ" required>
      </div>
  </div>
</div>

<div class="form-group col-sm-6">
  <div class="row">
      <label class="col-sm-12 add-member-label">Agreement Date: </label>
      <div class="col-sm-12">
        <input type="date" class="form-control" placeholder="Enter Agreement Date" required>
      </div>
  </div>
</div>

<div class="form-group col-sm-6">
  <div class="row">
      <label class="col-sm-12 add-member-label">Start Date: </label>
      <div class="col-sm-12">
        <input type="date" class="form-control" placeholder="Enter Start Date" required>
      </div>
  </div>
</div>


<div class="form-group col-sm-6">
  <div class="row">
      <label class="col-sm-12 add-member-label">Target Date: </label>
      <div class="col-sm-12">
        <input type="date" class="form-control" placeholder="Enter Target Date" required>
      </div>
  </div>
</div>

<div class="form-group col-sm-6">
  <div class="row">
      <label class="col-sm-12 add-member-label">Budget: </label>
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="Enter Budget" required>
      </div>
  </div>
</div>

<div class="form-group col-sm-6">
  <div class="row">
      <label class="col-sm-12 add-member-label">Paid: </label>
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="Enter Paid Amount" required>
      </div>
  </div>
</div>

<div class="form-group col-sm-6">
  <div class="row">
      <label class="col-sm-12 add-member-label">Billed: </label>
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="Enter Billed Amount" required>
      </div>
  </div>
</div>

<div class="form-group col-sm-6">
  <div class="row">
      <label class="col-sm-12 add-member-label">Balance: </label>
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="Enter Balance Amount" required>
      </div>
  </div>
</div>

</div>
</div>
      

</div>

    <mat-dialog-actions align="center">
        <button mat-raised-button class="add-hover btn-primary" type="submit"><mat-icon>send</mat-icon>&nbsp;Save</button>
        <button mat-raised-button type="button" class="add-dark-hover btn-default" (click)="close()"><mat-icon>cancel</mat-icon>&nbsp;Cancel</button>
    </mat-dialog-actions>
</form>
