input.form-control.ng-pristine.ng-invalid.ng-touched,input.form-control.ng-dirty.ng-touched.ng-invalid{
    border: 1px solid red !important;
}
.position {
    position: fixed !important;
}
.nonSense {
    cursor: not-allowed!important;
    color: white!important
}