<!-- Cards -->
<div class="container-fluid">




  <div class="row ">
    <div class="col-sm-12">
      <div class="row">

        <div class="col-sm-3">
          <mat-card class=" pb-2"
            style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
            <div class="row">
              <div class="col-9">
                <div class="row">
                  <div class="col-12">
                    <h4> Clients</h4>
                  </div>
                  <div class="col-12">
                    <h5 class="text-primary pt-1">Till Date</h5>
                  </div>
                  <div class="col-12">
                    <h4 class="mb-0 d-inline-block  pt-1">40</h4> &nbsp; <mat-icon
                      style="font-size: 16px;font-weight: bold;" class="text-success">arrow_upward</mat-icon>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <mat-icon style="font-size: 40px;margin-top: 10px; color: #007ad9;">how_to_reg</mat-icon>
              </div>
            </div>

          </mat-card>
        </div>

        <div class="col-sm-3">
          <mat-card class=" pb-2"
            style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
            <div class="row">
              <div class="col-9">
                <div class="row">
                  <div class="col-12">
                    <h4>Job Orders</h4>
                  </div>
                  <div class="col-12">
                    <h5 class="text-warning pt-1">Till Date</h5>
                  </div>
                  <div class="col-12">
                    <h4 class="mb-0 d-inline-block  pt-1">59</h4> &nbsp; <mat-icon
                      style="font-size: 16px;font-weight: bold;" class="text-success">arrow_upward</mat-icon>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <mat-icon style="font-size: 37px;margin-top: 10px;" class="text-warning">event</mat-icon>
              </div>
            </div>

          </mat-card>
        </div>

        <div class="col-sm-3">
          <mat-card class=" pb-2"
            style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
            <div class="row">
              <div class="col-9">
                <div class="row">
                  <div class="col-12">
                    <h4> Job Orders</h4>
                  </div>
                  <div class="col-12">
                    <h5 class="text-success pt-1">Active</h5>
                  </div>
                  <div class="col-12">
                    <h4 class="mb-0 d-inline-block  pt-1">58</h4> &nbsp; <mat-icon
                      style="font-size: 16px;font-weight: bold;" class="text-success">arrow_upward</mat-icon>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <mat-icon style="font-size: 40px;margin-top: 10px;" class="text-success">business_center</mat-icon>
              </div>
            </div>

          </mat-card>
        </div>

        <div class="col-sm-3">
          <mat-card class=" pb-2"
            style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
            <div class="row">
              <div class="col-9">
                <div class="row">
                  <div class="col-12">
                    <h4> Job Orders</h4>
                  </div>
                  <div class="col-12">
                    <h5 class=" pt-1" style="color: #ff6152;">Completed</h5>
                  </div>
                  <div class="col-12">
                    <h4 class="mb-0 d-inline-block  pt-1">22</h4> &nbsp; <mat-icon
                      style="font-size: 16px; font-weight: bold;" class="text-success">arrow_upward</mat-icon>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <mat-icon style="font-size: 40px;margin-top: 10px;color:#ff6152">done</mat-icon>
              </div>
            </div>

          </mat-card>
        </div>


      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12">
      <div class="row">

        <div class="col-sm-3">
          <mat-card class=" pb-2"
            style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
            <div class="row">
              <div class="col-9">
                <div class="row">
                  <div class="col-12">
                    <h4> Job Orders</h4>
                  </div>
                  <div class="col-12">
                    <h5 class=" pt-1" style="color: #ff6152;">Cancelled</h5>
                  </div>
                  <div class="col-12">
                    <h4 class="mb-0 d-inline-block  pt-1">0</h4> &nbsp; <mat-icon
                      style="font-size: 16px;font-weight: bold;color: #ff6152">arrow_downward</mat-icon>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <mat-icon style="font-size: 40px;margin-top: 10px;color: #ff6152;">warning</mat-icon>
              </div>
            </div>

          </mat-card>
        </div>

        <div class="col-sm-3">
          <mat-card class=" pb-2"
            style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
            <div class="row">
              <div class="col-9">
                <div class="row">
                  <div class="col-12">
                    <h4> Job Orders</h4>
                  </div>
                  <div class="col-12">
                    <h5 class=" pt-1 text-success">Completed Today</h5>
                  </div>
                  <div class="col-12">
                    <h4 class="mb-0 d-inline-block  pt-1">0</h4> &nbsp; <mat-icon
                      style="font-size: 16px;font-weight: bold;" class="text-success">arrow_upward</mat-icon>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <mat-icon style="font-size: 40px;margin-top: 10px;" class="text-success">donut_large</mat-icon>
              </div>
            </div>

          </mat-card>
        </div>

        <div class="col-sm-3">
          <mat-card class=" pb-2"
            style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
            <div class="row">
              <div class="col-9">
                <div class="row">
                  <div class="col-12">
                    <h4> Job Orders</h4>
                  </div>
                  <div class="col-12">
                    <h5 class="text-primary pt-1">Completed This Month</h5>
                  </div>
                  <div class="col-12">
                    <h4 class="mb-0 d-inline-block  pt-1">0</h4> &nbsp; <mat-icon
                      style="font-size: 16px;font-weight: bold;" class="text-success">arrow_upward</mat-icon>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <mat-icon style="font-size: 40px;margin-top: 10px; color: #007ad9;">checklist</mat-icon>
              </div>
            </div>

          </mat-card>
        </div>

        <div class="col-sm-3">
          <mat-card class=" pb-2"
            style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
            <div class="row">
              <div class="col-9">
                <div class="row">
                  <div class="col-12">
                    <h4> Job Cards</h4>
                  </div>
                  <div class="col-12">
                    <h5 class="text-warning pt-1">Till Date</h5>
                  </div>
                  <div class="col-12">
                    <h4 class="mb-0 d-inline-block  pt-1">1003</h4> &nbsp; <mat-icon
                      style="font-size: 16px;font-weight: bold;" class="text-success">arrow_upward</mat-icon>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <mat-icon style="font-size: 40px;margin-top: 10px;" class="text-warning">trending_up</mat-icon>
              </div>
            </div>

          </mat-card>
        </div>



      </div>
    </div>
  </div>


  <!-- Charts -->

  <div class="row col-12 mt-5 p-0 m-0">
    <div class="col-md-6  col-sm-12 pl-0">
      <div>
        <div class="chart-header">
          <p style="font-size: 17px">Client Wise Distribution Of Job Orders</p>
        </div>
        <div class="">
          <mat-card>
            <div class="w-100 h-300p">
              <ngx-charts-pie-chart [scheme]="colorScheme" [results]="single" [explodeSlices]="explodeSlices"
                [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient">
              </ngx-charts-pie-chart>
            </div>
          </mat-card>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 pr-0">
      <div>
        <div class="chart-header">
          <p style="font-size: 17px">Job Orders Status</p>
        </div>
        <div class="">
          <mat-card>
            <div class="w-100 h-300p">
              <ngx-charts-pie-chart [scheme]="colorScheme2" [results]="two" [explodeSlices]="explodeSlices"
                [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient">
              </ngx-charts-pie-chart>
            </div>
          </mat-card>
        </div>
      </div>
    </div>

  </div>

  <div class="row  col-12 mt-5 p-0 m-0">
    <div class="col-6 pl-0">
      <div>
        <div class="chart-header">
          <p style="font-size: 17px">Job Order Compliance</p>
        </div>
        <div class="">
          <mat-card>
            <div class="w-100 h-300p">
              <ngx-charts-pie-chart [scheme]="colorScheme3" [results]="three" [explodeSlices]="explodeSlices"
                [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient">
              </ngx-charts-pie-chart>
            </div>
          </mat-card>
        </div>
      </div>
    </div>

    <div class="col-6 pr-0">
      <div>
        <div class="chart-header">
          <p style="font-size: 17px">New vs Repeat</p>
        </div>
        <div class="">
          <mat-card>
            <div class="w-100 h-300p">
              <ngx-charts-pie-chart [scheme]="colorScheme4" [results]="four" [explodeSlices]="explodeSlices"
                [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient">
              </ngx-charts-pie-chart>
            </div>
          </mat-card>
        </div>
      </div>
    </div>


  </div>

  <div class="row  col-12 mt-5 p-0 m-0">


    <div class="col-12 p-0">
      <div>
        <div class="chart-header">
          <p style="font-size: 17px">Daily Jobs Trend</p>
        </div>
        <div class="">
          <mat-card>
            <div class="w-100 h-300p " [chart]="monthyPulseOfEmployees">

            </div>
          </mat-card>
        </div>
      </div>
    </div>

    <!-- <div class="col-6" >
    <div style="margin-left: 2%">
      <div class="chart-header">
        <p style="font-size: 17px">Project Billing versus Collections</p>
      </div>
      <div style="display: block; margin-top: 17px;" >
        <div style="height: 332px" [chart]="monthyPulseOfEmployees"></div>
      </div>
    </div>
  </div> -->

  </div>

  <div>
  </div>

  <!-- Table 1-->

  <div class="container-fluid" style="margin-top:40px">
    <h3 class="">In Progress Job Orders</h3>
    <div class="row mt-4">
      <div class="col-sm-12 p-0 m-0">
        <div id="grid-table-container" class="table-responsive" style="width:100%">
          <table mat-table [dataSource]="dataSource" #firstTable='matSort' matSort id="example2"
            class="table table-bordered table-hover">

            <!-- Job Order Ref. Column -->
            <ng-container matColumnDef="projectCode" class="p-0 m-0">
              <th class="tbl-head1 text-center" style="vertical-align: middle;" *matHeaderCellDef mat-sort-header>
                Project Code </th>
              <td *matCellDef="let element"> {{element.projectCode}} </td>
            </ng-container>

            <!-- Order Title  Column -->
            <ng-container matColumnDef="orderTitle">
              <th class="tbl-head1" style="vertical-align: middle;" *matHeaderCellDef mat-sort-header> Order Title </th>
              <td mat-cell *matCellDef="let element"> {{element.orderTitle}} </td>
            </ng-container>

            <!-- Client Column -->
            <ng-container matColumnDef="client">
              <th class="tbl-head1" style="vertical-align: middle;" *matHeaderCellDef mat-sort-header> Client </th>
              <td mat-cell *matCellDef="let element"> {{element.client}} </td>
            </ng-container>

            <!-- Manager Column -->
            <ng-container matColumnDef="manager">
              <th class="tbl-head1" style="vertical-align: middle;" *matHeaderCellDef mat-sort-header> Manager </th>
              <td mat-cell *matCellDef="let element"> {{element.manager}} </td>
            </ng-container>

            <!-- Start Date Column -->
            <ng-container matColumnDef="startDate">
              <th class="tbl-head1" style="vertical-align: middle;" *matHeaderCellDef mat-sort-header> Start Date </th>
              <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
            </ng-container>

            <!--  Due Date Column -->
            <ng-container matColumnDef="dueDate">
              <th class="tbl-head1" style="vertical-align: middle;" *matHeaderCellDef mat-sort-header> Due Date </th>
              <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
              <th class="tbl-head1" style="vertical-align: middle;" *matHeaderCellDef mat-sort-header> Status</th>
              <td mat-cell *matCellDef="let element"><span
                  style="color: #57507B;font-weight: bolder; padding:3px">{{element.status}}</span></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>


  <!-- Table 2-->

  <div class="container-fluid" style="margin-top:20px">
    <h3 class="">Completed Job Orders</h3>
    <div class="row mt-4">
      <div class="col-sm-12 p-0 m-0">
        <div id="grid-table-container" class="table-responsive" style="width:100%">
          <table mat-table [dataSource]="dataSource2" #secondTable='matSort' matSort id="example2"
            class="table table-bordered table-hover">

            <!-- Job Order Ref. Column -->
            <ng-container matColumnDef="projectCode2">
              <th class="tbl-head1" style="vertical-align: middle;" *matHeaderCellDef mat-sort-header>Project Code </th>
              <td *matCellDef="let element"> {{element.projectCode2}} </td>
            </ng-container>

            <!-- Order Title  Column -->
            <ng-container matColumnDef="orderTitle2">
              <th class="tbl-head1" style="vertical-align: middle;" *matHeaderCellDef mat-sort-header> Order Title </th>
              <td mat-cell *matCellDef="let element"> {{element.orderTitle2}} </td>
            </ng-container>

            <!-- Client Column -->
            <ng-container matColumnDef="client2">
              <th class="tbl-head1" style="vertical-align: middle;" *matHeaderCellDef mat-sort-header> Client </th>
              <td mat-cell *matCellDef="let element"> {{element.client2}} </td>
            </ng-container>

            <!-- Manager Column -->
            <ng-container matColumnDef="manager2">
              <th class="tbl-head1" style="vertical-align: middle;" *matHeaderCellDef mat-sort-header> Manager </th>
              <td mat-cell *matCellDef="let element"> {{element.manager2}} </td>
            </ng-container>

            <!-- Start Date Column -->
            <ng-container matColumnDef="startDate2">
              <th class="tbl-head1" style="vertical-align: middle;" *matHeaderCellDef mat-sort-header> Start Date </th>
              <td mat-cell *matCellDef="let element"> {{element.startDate2}} </td>
            </ng-container>

            <!--  Due Date Column -->
            <ng-container matColumnDef="dueDate2">
              <th class="tbl-head1" style="vertical-align: middle;" *matHeaderCellDef mat-sort-header> Due Date </th>
              <td mat-cell *matCellDef="let element"> {{element.dueDate2}} </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status2">
              <th class="tbl-head1" style="vertical-align: middle;" *matHeaderCellDef mat-sort-header> Status</th>
              <td mat-cell *matCellDef="let element"><span
                  style="color: #40B78B;font-weight: bolder; padding:3px">{{element.status2}}</span></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
          <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>

</div>