<div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100">
        <div class="row" style="margin-bottom:14px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="w-100 flex-p">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="w-100 flex-p">
                    <button mat-raised-button class="pull-right btn-primary" (click)="openEditDialog(null)">
                        <mat-icon>person_add</mat-icon> Add User
                    </button>
                    <button mat-raised-button color="primary" class="pull-right  margin-right-10"
                        (click)="filterToggle = !filterToggle">
                        <mat-icon>filter_list</mat-icon> Filter
                    </button>
                </div>
            </div>
        </div> 

        <div fxLayout="row wrap" *ngIf="filterToggle" style="margin-left: 5px;">
            <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p">
                <form [formGroup]="filterForm">
                <mat-card class="filter">
                    <mat-card-content>
                        <div class="row col-sm-12 p-0 m-0">
                            <div class="col-sm-4">
                                <div class="col-sm-3 newMarginClass">
                                    Keyword:
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" formControlName="Keyword" onCopy="return false" onPaste="return false" class="form-control"
                                        placeholder="Search by Name, Email, Role...">
                                </div>
                            </div>
                      
                            <div class="col-sm-4">
                                <div class="col-sm-3 newMarginClass">
                                   Status:
                                </div>
                                <div class="col-sm-8">
                                  <mat-select placeholder="Select Status" class="form-control" formControlName="Status">
                                      <mat-option *ngFor="let option of Status" [value]="option.value">
                                        {{option.name}}
                                      </mat-option>                      
                                    </mat-select>                                
                                </div>
                            </div>
                            <div class="" style="margin-left:270px!important;">
                                <button mat-raised-button class="float-right btn-primary" (click)="filter()">
                                    Search
                                </button>
                            </div>
                            <div class="" style="margin-left:10px;">
                                <button mat-raised-button class="float-right" style="background-color:#37474f; color:#fff !important"
                                (click)="clearFilter()">
                                    Clear
                                </button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </form>
            </div>
        </div>
      
        <div fxLayout="row wrap" style="margin-left: 13px;">
            <div class="table-responsive">
                <table id="example2" class="table table-bordered table-hover">
                    <thead class="tbl-head">
                        <tr class="tr-grid-header">
                            <th>User Name</th>
                            <th>Email</th>
                            <th style="text-align: center !important;">Phone Number</th>
                            <th style="text-align: left !important;">Role</th>
                            <th style="text-align: center !important;">Mobile Access</th>
                          
                            <th style="text-align: center !important;">Status</th>
                            <th style="text-align: center !important;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr *ngIf="users == null || users.length == 0">
                        <td colspan="12" class="text-center">No records found</td>
                    </tr>
                        <tr *ngFor="let item of users">
                            <td>{{item.UserName}}</td>
                            <td>{{item.email}}</td>
                            <td class="text-center">{{item.phoneNumber}}</td>
                            <td>{{item.role}}</td>        
                            <td class="text-center"><a style="color: cornflowerblue; cursor: pointer;"
                                mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                    [popoverMessage]="popoverMessage" placement="left"
                                    (confirm)="deleteUser1(item)" (cancel)="cancelClicked = true"
                                ><mat-checkbox></mat-checkbox></a></td>                
                            <td style="text-align: center !important;">
                              {{item.status}}
                            </td>
                            <td style="text-align: center !important;">
                                <a title="Reset Password" style="margin-right: 10px; cursor: pointer; color: cornflowerblue;"
                                    (click)="openResetPassword(item)">
                                    <i class="fa fa-history"></i>
                                </a>
                                <a title="Edit User" style="margin-right: 10px; cursor: pointer; color: cornflowerblue;"
                                    (click)="openEditDialog('Edit')">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a mwlConfirmationPopover [popoverTitle]="popoverTitle1"
                                    [popoverMessage]="popoverMessage1" placement="left"
                                    (confirm)="deleteUser(item)" (cancel)="cancelClicked = true">
                                    <i style="cursor: pointer;" title="Delete User" class="fa fa-trash red"></i>
                                </a>
  
                            </td>
                        </tr>
            </tbody>
                  
        </table>
                <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
  </div>