<div class="w-100 ">
  <div class="col-sm-12 no-padding" style="padding-top:15px!important">
    <div class="col-sm-7 padding-10" style="background: #9e9e9e59; padding: 10px;">
      <span style="background-color: red; margin-left:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;<span
        style="color:black">Fixed Date</span>
      <span style="background-color: #2196f3;margin-left: 50px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;<span
        style="color:black">Flex Date</span>
      <span style="background-color: #5d5d5d;margin-left: 50px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;<span
        style="color:black">To be scheduled later</span>
      <span
        style="border: inset 2px #ea8e73e0; background: #fff; margin-left: 50px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;<span
        style="color:black">Awaiting Master Approval</span>
    </div>
    <div class="col-sm-2 offset-sm-1 no-padding" style="display: flex;">
      <div class="col-sm-3 margin-top-10" style="text-align: right; position: relative;">
        <label>Type: </label>
      </div>
      <div class="col-sm-3 no-padding">
        <mat-button-toggle-group>
          <mat-button-toggle
            routerLink="scheduled"
            routerLinkActive='toggle-active'>Scheduled
          </mat-button-toggle>
          <mat-button-toggle
            routerLink="unscheduled"
            routerLinkActive='toggle-active'>Unscheduled
          </mat-button-toggle>
        </mat-button-toggle-group>

      </div>

    </div>
    <div class="col-sm-2 no-padding">

    </div>
    <router-outlet></router-outlet>
  </div>