<div class="NewHeader">
  <h1 mat-dialog-title> {{user}} Lookup</h1>
</div>
<div mat-dialog-content>
  
  <form class="form-horizontal">
      <div class="form-group">
          <label class="control-label col-sm-3 add-member-label">Code Master : </label>
          <div class="col-sm-8">
              <select class="form-control" [(ngModel)]="code_master" id="code" name="code" >
                  <option [ngValue]="undefined" selected disabled>--Select Code--</option>
                  <option value="0">Isolation valve location of repair</option>
                  <option value="1">safety valve location of repair</option>
                  <option value="2">Job card Observation</option>
                  <option value="3">Valve repair repair - Isolation Valve</option>
                  <option value="4">Valve repair repair - Safety Valve</option>
                  <option value="5">Division</option>
                  <option value="6">Criteria</option>
                  <option value="7">Description</option>
              </select>
          </div>
      </div>
      
      <div class="form-group" *ngIf="code_master == 'usertype' || code_master == undefined">
          <label class="control-label col-sm-3 add-member-label">Lookup Name : </label>
          <div class="col-sm-8">
              <input type="email" class="form-control" id="name" placeholder="Enter Lookup name">
          </div>
          <div class="col-sm-1" style="margin-top: 5px;">
              <a (click)="copy('lookup')" style="cursor: pointer; color: green;"><i class="fa fa-plus"></i></a>
          </div>
      </div>
      <div *ngIf="code_master == 'usertype'" >
          <div *ngFor="let item of itemstr, let x = index">
              <div id="repeat-{{x}}" class="row" style="margin-bottom: 12px;">
                  <!-- text input -->
                  <label class="control-label col-sm-3 "></label>
                  <div class="col-sm-8">
                      <input class="form-control name" id="items"
                      placeholder="Enter Lookup Name" type="text"  >
                  </div>
                  <div class="col-sm-1" style="margin-top: 5px;">
                      <a (click)="remove(x)" style="cursor: pointer;"><i class="fa fa-trash red"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </form>
</div>
<mat-dialog-actions align="end">
      <button mat-raised-button  (click)="close()" style="color: rgb(7, 10, 7); background-color: #e0e0e0;"><mat-icon>cancel</mat-icon> Close</button>
      <button mat-raised-button class="btn-primary" (click)="saveLookup()"  [mat-dialog-close]="'test'"><mat-icon>send</mat-icon> Save
         </button>
  </mat-dialog-actions> 