<div class="NewHeader">
    <i class="fa fa-times" aria-hidden="true" style="float: right !important;margin: 0 10px 0px 0;font-size: 17px;    cursor: pointer;" (click)="close()"></i>
    <h1 mat-dialog-title>Reset Password</h1>
  </div>
  <form [formGroup]="myform">
  <div mat-dialog-content>
    <div class="form-group col-sm-12">
      <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">New Password: </label>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <input type="password" maxlength="100" formControlName="Password" class="form-control" maxlength="50" placeholder="" required>
          <div *ngIf="!myform.controls.Password.valid && (myform.controls.Password.dirty || myform.controls.Password.touched)" class="error-text">
              <div *ngIf="myform.controls.Password.errors.required">
                  Password is required.
              </div>
          </div>
      </div>
  </div>
  <div class="form-group col-sm-12">
    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">Confirm Password: </label>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <input type="password" maxlength="100" formControlName="UserPassword" class="form-control" maxlength="50" placeholder="" required>
        <div *ngIf="!myform.controls.UserPassword.valid && (myform.controls.UserPassword.dirty || myform.controls.UserPassword.touched)" class="error-text">
            <div *ngIf="myform.controls.UserPassword.errors.required">
                Confirm Password is required.
            </div>
        </div>
    </div>
  </div>
  </div>
  
  <mat-dialog-actions class="pull-right" style="padding-top: 17px !important;">
    <button mat-raised-button style="cursor:pointer;left:6px;background-color: #286ba5;
      color: white;" [ngClass]="{'btn-disabled' : isSubmitting == true}" (click)="saveData()">
          <mat-icon>update</mat-icon><span> Update</span>
      </button>
      <button mat-raised-button color="primary" style="color: white !important;left:6px"
          class="pull-right CancelClass filter-hove" (click)="close()">
          <mat-icon>cancel</mat-icon>&nbsp;Cancel
      </button>
  </mat-dialog-actions>
  </form>