<div fxLayout="row wrap">
  <div class="table-responsive flex-p">
    <mat-dialog-actions style="margin-bottom: 10px; margin-top: 15px;margin-left: 5px;float: right" >
        <button mat-raised-button class="btn-primary"><mat-icon>save</mat-icon>Save</button>
            <a routerLink="/admin/manage-users/users" style="margin-left: 5px;"><button mat-raised-button class="btn-primary"><mat-icon>keyboard_backspace</mat-icon>Back</button></a>    
          </mat-dialog-actions>  
          
          <p style= "margin-top: 20px; margin-left: 3px;"><b>Role Name: </b>Staff</p>
      
          <table id="example2" class="table table-bordered table-hover">
              <thead class="tbl-head">
                  <tr class="tr-grid-header">
                      <th>Screen Permissions</th>
                      <th class="style text-center">Create</th>
                      <th class="style text-center">Read</th>
                      <th class="style text-center">Update</th>
                      <th class="style text-center">Delete</th>
                      </tr>
                  </thead>
                  <tbody>
                      
                      <tr *ngFor="let item of items" >

                          <td>{{item.screen}}</td>
                      
                          <td class="style text-center"><mat-checkbox [(ngModel)]="item.create" disabled></mat-checkbox></td>
                          <td class="style text-center"><mat-checkbox [(ngModel)]="item.read" disabled></mat-checkbox></td>
                          <td class="style text-center"><mat-checkbox [(ngModel)]="item.update" disabled></mat-checkbox></td>
                          <td class="style text-center"><mat-checkbox [(ngModel)]="item.delete" disabled></mat-checkbox></td>
                      
                      </tr> 
             
                  </tbody>
              </table>
          </div>
      </div>