<div class="NewHeader" style="background-color:#286ba5 !important">
    <h1 mat-dialog-title>Update Password</h1>
</div>
<div mat-dialog-content>
    <form class="form-horizontal" novalidate [formGroup]="changePasswordForm">
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Email: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="email" formControlName="userEmail" class="form-control" id="email" placeholder="admin@f2o.com" disabled required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">Current Password: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="input-icon right">
                    <i class="fa fa-key"></i>
                    <input type="password" autocomplete="off" formControlName="userCurrentPassword" class="form-control" placeholder="Enter Current Password" required>
                    <div *ngIf="!userCurrentPassword.valid && (userCurrentPassword.dirty || userCurrentPassword.touched)" class="error-text">
                        <div *ngIf="userCurrentPassword.errors.required">
                            Current password is required
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group overflows">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">New Password: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="input-icon right">
                    <i class="fa fa-key"></i>
                    <tooltip-content [animation]="true" #myTooltip placement="right" class="position">
                        <h4 style="color: black">Suggested Password Combinations</h4>
                        <div style="text-align:left;padding:10px">
                            <ul style="list-style: none;">
                                <li id="letter" [ngClass]="isOneLetter?'valid':'invalid'">At least
                                    <strong>one letter</strong>
                                </li>
                                <li id="capital" [ngClass]="isOneCapitalLetter?'valid':'invalid'">At least
                                    <strong>one capital letter</strong>
                                </li>
                                <li id="number" [ngClass]="isOneNumber?'valid':'invalid'">At least
                                    <strong>one number</strong>
                                </li>
                                <li id="specialchar" [ngClass]="isOneSpecialCaharacter?'valid':'invalid'">At least
                                    <strong>one special character</strong>
                                </li>
                                <li id="length" [ngClass]="isMinLength?'valid':'invalid'">Be at least
                                    <strong>8 characters</strong>
                                </li>
                            </ul>
                        </div>
                    </tooltip-content>
                    <input [tooltip]="myTooltip" tooltipPlacement='right' (keydown.space)="$event.preventDefault()" onDrag="return false" onDrop="return false" (keyup)="onKeyPress(userNewPassword)" type="password" autocomplete="off" formControlName="userNewPassword" class="form-control" placeholder="Enter New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[!@#\$%\^&\_\+\<\>\.\,\=\:\;\'\?\(\)\[\]\\\/\|\*{}-])(?=.*[A-Z]).{8,20}" required>
                    <div *ngIf="!userNewPassword.valid && (userNewPassword.dirty || userNewPassword.touched)" class="error-text">
                        <div *ngIf="userNewPassword.errors.required">
                            Password is required
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Confirm Password: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="input-icon right">
                    <i class="fa fa-key"></i>
                    <input type="password" autocomplete="off" formControlName="userNewReenterPassword" (keydown.space)="$event.preventDefault()" onDrag="return false" onDrop="return false" class="form-control" placeholder="Confirm New Password" required>
                    <div *ngIf="!userNewReenterPassword.valid && (userNewReenterPassword.dirty || userNewReenterPassword.touched)" class="error-text">
                        <div *ngIf="userNewReenterPassword.errors.required">
                            Password is required
                        </div>
                        <div *ngIf="userNewReenterPassword.errors.mustMatch">
                            New Password and Confirm Password are not matched.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<mat-dialog-actions align="end" style="margin-right:-5px !important">
    <button mat-raised-button [disabled]="!changePasswordForm.valid" [ngClass]="!changePasswordForm.valid ? '' : 'btn-primary'" (click)="updatePassword(changePasswordForm.value)"><mat-icon>update</mat-icon><span>Update</span></button>
    <button mat-raised-button class="CancelClass" (click)="close()">&nbsp;Close</button>
</mat-dialog-actions> 