<div class="container-fluid">
  <div class="row p-0 m-0 mt-4">
    <div class="col-sm-12 p-0 m-0">
      <div class="row p-0 m-0">

        <div class="col-sm-3 pl-0">
          <mat-card class=" pb-2"
            style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
            <div class="row">
              <div class="col-9">
                <div class="row">
                  <div class="col-12">
                    <h4> Clients</h4>
                  </div>
                  <div class="col-12">
                    <h5 class="text-primary pt-1">Total</h5>
                  </div>
                  <div class="col-12">
                    <h4 class="mb-0 d-inline-block  pt-1">40</h4> &nbsp; <mat-icon
                      style="font-size: 16px;font-weight: bold;" class="text-success">arrow_upward</mat-icon>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <mat-icon style="font-size: 40px;margin-top: 10px; color: #007ad9;">business_center</mat-icon>
              </div>
            </div>

          </mat-card>
        </div>

        <div class="col-sm-3">
          <mat-card class=" pb-2"
            style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
            <div class="row">
              <div class="col-9">
                <div class="row">
                  <div class="col-12">
                    <h4>Job Orders</h4>
                  </div>
                  <div class="col-12">
                    <h5 class="text-warning pt-1">Active</h5>
                  </div>
                  <div class="col-12">
                    <h4 class="mb-0 d-inline-block  pt-1">59</h4> &nbsp; <mat-icon
                      style="font-size: 16px;font-weight: bold;" class="text-success">arrow_upward</mat-icon>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <mat-icon style="font-size: 37px;margin-top: 10px;" class="text-warning">attach_money</mat-icon>
              </div>
            </div>

          </mat-card>
        </div>

        <div class="col-sm-3">
          <mat-card class=" pb-2"
            style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
            <div class="row">
              <div class="col-9">
                <div class="row">
                  <div class="col-12">
                    <h4> Job Orders</h4>
                  </div>
                  <div class="col-12">
                    <h5 class="text-success pt-1">Total</h5>
                  </div>
                  <div class="col-12">
                    <h4 class="mb-0 d-inline-block  pt-1">58</h4> &nbsp; <mat-icon
                      style="font-size: 16px;font-weight: bold;" class="text-success">arrow_upward</mat-icon>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <mat-icon style="font-size: 40px;margin-top: 10px;" class="text-success">checklist</mat-icon>
              </div>
            </div>

          </mat-card>
        </div>

        <div class="col-sm-3 pr-0">
          <mat-card class=" pb-2"
            style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
            <div class="row">
              <div class="col-9">
                <div class="row">
                  <div class="col-12">
                    <h4> Job Orders</h4>
                  </div>
                  <div class="col-12">
                    <h5 class=" pt-1" style="color: #ff6152;">Archieved</h5>
                  </div>
                  <div class="col-12">
                    <h4 class="mb-0 d-inline-block  pt-1">22</h4> &nbsp; <mat-icon
                      style="font-size: 16px; font-weight: bold;" class="text-success">arrow_upward</mat-icon>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <mat-icon style="font-size: 40px;margin-top: 10px;color:#ff6152">money_off</mat-icon>
              </div>
            </div>

          </mat-card>
        </div>


      </div>
    </div>
  </div>

  <div class="row-wrap mt-4">
    <div class="flex-p w-100">
      <div class="row">
        <div class="col-sm-12">
          <div class="row" style="margin-bottom:7px;">
            <div class="col-sm-6 pl-0">
              <div class="flex-p">
                <app-kbpl-projects></app-kbpl-projects>

              </div>
            </div>
            <div class="col-sm-6 pr-0" style="margin-top: 10px;">
              <button mat-raised-button color="btn-default" style="background-color: #dddddd;"
                class="pull-right add-dark-hover margin-right-10" (click)="scrollKanban('left');">
                Next <mat-icon>fast_forward</mat-icon>
              </button>

              <button mat-raised-button color="btn-default" style="background-color: #dddddd;"
                class="pull-right add-dark-hover margin-right-10" (click)="scrollKanban('right');">
                <mat-icon>fast_rewind</mat-icon> Prev
              </button>
              <div class="col-xs-4 pull-right" style="margin-top: 10px;">
                <label class="col-xs-8">Show Only Active</label>
                <input type="checkbox" class="col-xs-1" style="text-align:left" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 p-0 m-0">
        <div class=" flex-p kanban-table-container p-0 m-4" id="kanban-table-container">
          <div *ngFor="let step of localData; let index = index" [ngStyle]="step.style">
            <div id="{{step.id}}">
              <div (click)='changestatus(index)' style="cursor: pointer;" *ngIf="step.collapsed==true" class="outer">
                <div class="inner">{{step.header | slice:0:30}}</div>
              </div>
              <table>
                <thead *ngIf="step.collapsed==false">
                  <tr>
                    <th class="kanban-header">
                      <div>
                        <a class="info-card" style="color:white!important">{{step.header | slice:0:30}}</a>
                        <a style="float:right;margin-left: 6px;margin-top: 2px;cursor: pointer;"
                          (click)='changestatus(index)'><span class="material-icons">
                            keyboard_arrow_left
                          </span></a>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="step.collapsed==false" [dndDraggable]="step.data" dndDropzone dndEffectAllowed="all"
                  (dndDrop)="drop($event)" class="dndList">
                  <div class="kanban-item-container">
                    <tr>
                      <div dndPlaceholderRef class="dndPlaceholder kanban-item"></div>
                    </tr>
                    <tr *ngFor="let item of step.data;let i = index" id="{{item.id}}" [dndDraggable]="step.data"
                      dndEffectAllowed="all" (dndMoved)="drag(item)" (dndStart)="dragStart($event,item, step.id)"
                      (dndEnd)="dragEnd($event,item)">
                      <div class="kanban-item" [style.background-color]="item.hex">
                        <td style="width: 95%;">
                          <span>
                            <a class="res-name" id="resname"> {{item.projectName}} </a>
                          </span><br>
                          <span class="cap-name"
                            style="color: black;font-weight: bold;text-decoration: none; font-size: 11px;"> Project Code :
                            RP2021/01 </span><br>
                          <span class="cap-name"
                            style="color: black;font-weight: bold;text-decoration: none; font-size: 11px;">
                            {{item.startDate}} </span><br>
                          <span class="cap-name"
                            style="color: black;font-weight: bold;text-decoration: none; font-size: 11px;"> {{item.duedate}}
                          </span><br>
                          <span style="color: black;font-weight: bold;text-decoration: none; font-size: 11px;"
                            class="cap-name">{{item.updateddate}} </span>
                        </td>
    
                        <td><br><span class="etadatediff" style="color: white;">17</span>
    
                          <span>
                            <div class=" card-header rounded card-header-first"
                              style="background-color: transparent;border: 0px;">
                              <div (click)="changeProgress(step.focus,index)" class="circle">
                                <div *ngIf="!step.focus || step.focus == 0">
                                  <img src="assets/outlook/focus_3.png" style="border:0.5px solid black;border-radius: 50%;"
                                    alt="new">
                                </div>
                                <div *ngIf="step.focus == 25">
                                  <img src="assets/outlook/focus_4.png" style="border:0.5px solid black;border-radius: 50%;"
                                    alt="weak">
                                </div>
                                <div *ngIf="step.focus == 50">
                                  <img src="assets/outlook/focus_0.png" style="border:0.5px solid black;border-radius: 50%;"
                                    alt="okay">
                                </div>
                                <div *ngIf="step.focus == 75">
                                  <img src="assets/outlook/focus_1.png"
                                    style="border:0.5px solid black; border-radius: 50%;" alt="good">
                                </div>
                                <div *ngIf="step.focus == 100">
                                  <img src="assets/outlook/focus_2.png"
                                    style="border:0.5px solid black; border-radius: 50%;" alt="excellent">
                                </div>
    
                              </div>
                            </div>
                          </span>
    
                        </td>
    
                      </div>
                    </tr>
                  </div>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    
      </div>
    </div>
   
  </div>
</div>
<!-- new code -->