<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 p-0">
      <h3 class=" mt-3 mb-3">VI. FINANCIAL REQUIREMENT </h3>
      <table class="table table-bordered">
        <thead class="theadcolor tbl-head">
          <tr>
            <td class="text-center" rowspan="3" style="vertical-align: middle;"><label class="label-bold">S.
                No.</label></td>
            <td class="text-center" rowspan="3" style="vertical-align: middle; width: 180px;"><label class="label-bold">Asset
                Log</label></td>
            <td class="text-center" colspan="9"><label class="label-bold">Amount(Rs)</label></td>
            <td class="text-center" rowspan="3" style="vertical-align: middle;width: 100px !important;"><label
              class="label-bold">Actual</label></td>
            <td class="text-center" rowspan="3" style="vertical-align: middle;width: 100px !important;"><label
                class="label-bold">Remarks</label></td>
                
          </tr>
          <tr>
            <td class="text-center" colspan="9"><label class="label-bold">As Per Plan</label></td>
          </tr>
          <tr>
            <th class="text-center second-header" style="width: 100px !important;">Rate</th>
            <th class="text-center second-header" style="width: 100px !important;">Kms/Lit</th>
            <th class="text-center second-header" style="width: 100px !important;">No. of Kms</th>
            <th class="text-center second-header" style="width: 100px !important;">No. of Lits</th>
            <th class="text-center second-header" style="width: 100px !important;">No. of Rooms</th>
            <th class="text-center second-header" style="width: 100px !important;">No. of Days</th>
            <th class="text-center second-header" style="width: 100px !important;">No. of Manpower</th>
            <th class="text-center second-header" style="width: 100px !important;">Total Cost</th>
            <th class="text-center second-header" style="width: 100px !important;">Remarks</th>
        </tr>
        </thead>
        <tbody>
         <tr>
           <td style="vertical-align: middle;">1.</td>
           <td style="vertical-align: middle;">Train / Bus Fare	</td>
           <td> <input  type="text" class="form-control" ></td>
           <td> <input  type="text" class="form-control" ></td>
           <td> <input  type="text" class="form-control" ></td>
           <td> <input  type="text" class="form-control" ></td>
           <td> <input  type="text" class="form-control" ></td>
           <td> <input  type="text" class="form-control" ></td>
           <td> <input  type="text" class="form-control" ></td>
           <td> <input  type="text" class="form-control" ></td>
           <td> <input  type="text" class="form-control" ></td>
           <td> <input  type="text" class="form-control" ></td>
           <td> <input  type="text" class="form-control" ></td>
         </tr>
         <tr>
          <td style="vertical-align: middle;">2.</td>
          <td style="vertical-align: middle;">Lodge / Quarters		
          </td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
        </tr>
        <tr>
          <td style="vertical-align: middle;">3.</td>
          <td style="vertical-align: middle;">Daily Allowance		
          </td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
        </tr>
        <tr>
          <td style="vertical-align: middle;">4.</td>
          <td style="vertical-align: middle;">Night Allowance		
          </td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
        </tr>
        <tr>
          <td style="vertical-align: middle;">5.</td>
          <td style="vertical-align: middle;">Local Conveyance		
          </td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
        </tr>
        <tr>
          <td style="vertical-align: middle;">6.</td>
          <td style="vertical-align: middle;">Diesel / Vehicle Maint.		
          </td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
        </tr>
        <tr>
          <td style="vertical-align: middle;">7.</td>
          <td style="vertical-align: middle;">Job Work Out Source		
          </td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
        </tr>
        <tr>
          <td style="vertical-align: middle;">8.</td>
          <td style="vertical-align: middle;">Container freight	
          </td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
        </tr>
        <tr>
          <td style="vertical-align: middle;">9.</td>
          <td style="vertical-align: middle;">Consumables		
          </td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
        </tr>
        <tr>
          <td style="vertical-align: middle;">10.</td>
          <td style="vertical-align: middle;">Xerox		
          </td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
        </tr>
        <tr>
          <td style="vertical-align: middle;">11.</td>
          <td style="vertical-align: middle;">Contractor Expenditure		
          </td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
        </tr>
        <tr>
          <td style="vertical-align: middle;">12.</td>
          <td style="vertical-align: middle;">Miscellaneous Expenses		
          </td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
        </tr>
        <tr>
          <td style="vertical-align: middle;">13.</td>
          <td style="vertical-align: middle;">Police/Security		
          </td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
        </tr>
        <tr>
          <td style="vertical-align: middle;">14.</td>
          <td style="vertical-align: middle;">T.T.E Extra charge		
          </td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
        </tr>
        <tr>
          <td style="vertical-align: middle;">15.</td>
          <td style="vertical-align: middle;">Luggage charges		
          </td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
        </tr>
        <tr>
          <td style="vertical-align: middle;">16.</td>
          <td style="vertical-align: middle;">Telephone		
          </td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
        </tr>
        <tr>
          <td style="vertical-align: middle;">17.</td>
          <td style="vertical-align: middle;">Otder Miscellaneous		
          </td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
        </tr>
        <tr>
          <td style="vertical-align: middle;">18.</td>
          <td style="vertical-align: middle;">Travelling Advance		
          </td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
          <td> <input  type="text" class="form-control" ></td>
        </tr>
        <tr>
         <th colspan="2" class="text-center" style="vertical-align: middle;">Total</th>
         <th colspan="7"></th>
         <th> <input  type="text" class="form-control" ></th>
         <th></th>
         <th> <input  type="text" class="form-control" ></th>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 mt-3 p-0  text-center">
      <button class="btn btn-primary add-hover" style="font-size:larger !important;" routerLink="/joborders/joborder-dashboard/POW/de-brief">Save &
        Continue</button>
    </div>
  </div>
</div>