<div class="w-100">
  <div class="flex-p">
      <div class="row wrap">
          <div class="col-sm-12 no-padding">
              <div class="row-wrap">
                  <div class="w-100">
                          <div style="margin-bottom: 15px;">
                              <div class="pills">
                                  <ul class="nav nav-pills" style="margin-left: 10px;">
                                    
                                      <!-- <li routerLinkActive="active" routerLink="action-types">
                                          <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                              Action Types
                                          </a>
                                      </li>
                                      <li routerLinkActive="active" routerLink="job-codes">
                                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                          Job Codes
                                        </a>
                                      </li>
                                      <li routerLinkActive="active" routerLink="expense-code">
                                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                          Expense Codes
                                        </a>
                                      </li>
                                      <li routerLinkActive="active" routerLink="project-types">
                                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                          Project Types
                                        </a>
                                      </li>
                                      <li routerLinkActive="active" routerLink="actions">
                                          <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                            Actions
                                          </a>
                                      </li>
                                      <li routerLinkActive="active" routerLink="industry">
                                          <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                            Industry Master
                                          </a>
                                      </li> -->

                                      <li routerLinkActive="active" routerLink="consumable">
                                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                          Consumables Master
                                        </a>
                                    </li>

                                      <li routerLinkActive="active" routerLink="industry">
                                        <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                          Industry Master
                                        </a>
                                    </li>
                                    <li routerLinkActive="active" routerLink="site">
                                      <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                        Spares Master
                                      </a>
                                  </li>
                                      <li routerLinkActive="active" routerLink="state">
                                          <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                            State Master
                                          </a>
                                      </li>
                                      <!-- <li routerLinkActive="active" routerLink="item">
                                          <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                            Item Master
                                          </a>
                                      </li> -->
                                     
                                      <!-- <li routerLinkActive="active" routerLink="category">
                                          <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                            Category Master
                                          </a>
                                      </li>
                                      <li routerLinkActive="active" routerLink="lead-sources">
                                          <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                            Lead Sources
                                          </a>
                                      </li> -->
                                  
                                  </ul>
                              </div>
                          </div>
                          <router-outlet></router-outlet>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>