<div class="container-fluid">

  <div class="row mt-4 mb-4">

    <div class="col-4 ">
      <div>
        <!-- <div class="chart-header">
          <p style="font-size: 17px">Daily Jobs Trend</p>
        </div> -->
        <div class="">
          <mat-card>
            <h3 style="text-align: center;text-decoration: underline;">Mandays/InchDia (Planned Vs Actual)
            </h3>
            <div class="w-100 h-300p mt-4 " [chart]="cumulativeManPower">
            </div>
          </mat-card>
        </div>
      </div>
    </div>

    <div class="col-4 ">
      <div>
        <!-- <div class="chart-header">
          <p style="font-size: 17px">Daily Jobs Trend</p>
        </div> -->
        <div class="">
          <mat-card>
            <h3 style="text-align: center;text-decoration: underline;">Expenditure (Planned Vs Actual)


            </h3>

            <div class="w-100 h-300p mt-4" [chart]="cumulativeValves">

            </div>
          </mat-card>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div>
        <!-- <div class="chart-header">
          <p style="font-size: 17px">Daily Jobs Trend</p>
        </div> -->
        <div class="">
          <mat-card>
            <h3 style="text-align: center;text-decoration: underline;">InchDia (Planned Vs Actual)
            </h3>
            <div class="w-100 h-300p mt-4" [chart]="cumulativeHandoverValves">

            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-12">
      <div id="grid-table-container" class="table-responsive" style="width:100%">
        <table matSort id="example2" class="table table-bordered table-hover">
          <thead class="tbl-head2">
            <th colspan="2">
              Site  Name:
            </th>
            <td>
              <input type="text" class="form-control" placeholder="Enter Site Name">
            </td>
           <td>
             Date:
           </td>
            <td>
              <input type="date" class="form-control">
            </td>
            <td>
              <p>Day-16</p>
            </td>

            <tr>
              <th colspan="2">
                Site Incharge Name:
              </th>
              <td colspan="4">
                <input type="text" class="form-control" placeholder="Enter Site Incharge Name">
              </td>
            </tr>
  
            <th>
              SI No.
            </th>
            <th>
              Description
            </th>
            <th>
              Planned
            </th>
            <th>
              Actuals
            </th>
            <th>
              Variance Percentage
            </th>
            <th>
              Remarks
            </th>
          </thead>
        
        <tbody>
          <tr *ngFor="let value of data2; let i=index">
            <td>{{i+1}}</td>
            <td>{{value.description}}</td>
            <td>{{value.planned}}</td>
            <td>{{value.actuals}}</td>
          
            <td>{{value.variancePercentage}}</td>
            <td>
              <textarea name="" id="" style="width: 100%;"  rows="3"></textarea>
            </td>
          </tr>
  
        </tbody>
        </table>
       
      </div>
    </div>
  </div>
</div>