.maginlft1 {
    margin-left: 10px;
}

.tab2 {
    border-radius: 4px;
    background: #bfbfbf !important;
    font-size: 15px;
    cursor: pointer;
}

.tab2:hover {
    color: #4d4444;
    background: #cddee7 !important;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.24), 0 7px 25px 0 rgba(0, 0, 0, 0.19);
}

.newMarginClass {
    margin-top: 7px!important;
}
.sizeAlign{
    margin-left: 8px;
    margin-right: 8px;
}