<div class="row container-fluid pr-0 mr-0">

    <div class="col-sm-2 p-0">
        <!-- <mat-drawer-container class="custom-sidenav" hasBackdrop="false" class="margin-top-10">
          <mat-drawer #drawer mode="side" opened="true"> -->
        <div class="col-sm-12" style="margin-left:-23px;margin-top:22px">
            <div class="col-sm-12  ">
                <p-panelMenu [model]="item" [style]="{'width':'100%'}"></p-panelMenu>
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <router-outlet></router-outlet>
    </div>
</div>