<h3 class="custom-header" style="font-weight: 300; margin-bottom: 10px !important;" mat-dialog-title>
  Action
</h3>

<form>

 <div mat-dialog-content>

     <div class="form-group">
         <label class="control-label col-sm-4 add-member-label">Action: </label>
         <div class="col-sm-8 margin-bottom-15px p-0">
             <input type="text" class="form-control" formControlName="JobCode" placeholder="Enter Action Name">
         </div>
     </div>

     <div class="form-group">
        <label class="control-label col-sm-4 add-member-label">Action Type:</label>
        <mat-select class='col-sm-8 select-option form-control margin-bottom-15px' placeholder="-- Action Type --">
            <mat-option >Administration</mat-option>
            <mat-option >Engineering</mat-option>
            <mat-option >Field Activity</mat-option>
            <mat-option >Quality Control</mat-option>
        </mat-select>
     </div>
 </div>

 <mat-dialog-actions align="center" style="padding-top: 17px !important;">
     <button 
       (click)="close()" mat-raised-button style="background: #286ba5 !important" class="add-hover btn-success">
         <mat-icon>send</mat-icon>
         <span>&nbsp;Save</span>
     </button>

     <button (click)="close()" mat-raised-button class="add-dark-hover btn-default">
         <mat-icon>cancel</mat-icon>
         <span>&nbsp;Cancel</span>
     </button>

 </mat-dialog-actions>
</form>

