@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdn.quilljs.com/1.2.2/quill.snow.css');
@import url('https://cdn.quilljs.com/1.2.2/quill.bubble.css');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'app/theme/styles/base';
@import 'app/theme/styles/theme';
@import 'app/theme/styles/libs-override';
@import 'app/theme/styles/rtl';
@import './_bootstrap.scss';
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-layouts/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';
@import '../node_modules/@syncfusion/ej2-grids/styles/material.css';
@import '../node_modules/@syncfusion/ej2-treegrid/styles/material.css';
@import '../node_modules/@syncfusion/ej2-gantt/styles/material.css';
@import '../node_modules/angular-calendar/css/angular-calendar.css';
@import '~ng-pick-datetime/assets/style/picker.min.css';
@import '~fullcalendar/dist/fullcalendar.min.css';
@import '../node_modules/angular2-toaster/src/toaster.scss';
@import './prime-ng.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './custom_styles.scss';

.app.indigo-light .mat-card:not([class*='mat-elevation-z']) {
  box-shadow: 5px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 5px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 1px rgba(0, 0, 0, 0.12);
}

.breadtitle {
  margin-left: 6px;
}

.breadcrumbicon {
  margin-top: -3px;
}
.modal-backdrop {
  z-index: -1 !important;
}

.blue {
  color: #89c4f4 !important;
}

.green {
  color: #45b6af !important;
}

.gold {
  color: #dfba49 !important;
}

.red {
  color: red !important;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
}

::ng-deep .cdk-focused .cdk-mouse-focused {
  text-decoration: none !important;
}

.rounded {
  border-radius: 50% !important;
}

.marginbtn {
  margin: 2px;
}

.pill_bg_color {
  background-color: #d3d0d0;
  margin: 2px;
}

div > .nav > .pill_bg_color.active > a {
  background-color: #337ab7 !important;
}

div > .nav > .navpills.active > a {
  background-color: #337ab7 !important;
}

.app.horizontal-menu .inner-sidenav-content {
  padding-top: 10px !important;
}

.toast-error,
.toast-success {
  font-size: 15px !important;
}

// For Menu
.app.indigo-light .mat-toolbar.mat-primary {
  background: #1485cc !important;
  color: white !important;
}

.app.indigo-light .active-link {
  background-color: #1485cc !important;
}

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #1485cc !important;
}

.app.indigo-light .breadcrumb a {
  color: #1485cc !important;
}

.mf-datatable thead th {
  background: #1485cc;
}

.mf-datatable thead th a {
  color: #fff !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.padding-right-0 {
  padding-right: 0px !important;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.padding-0 {
  padding: 0px !important;
}

.has-feedback .form-control-feedback {
  right: 15px;
  top: 8px;
}

.inner-addon {
  position: relative;
}


.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #b9b9b9;
}


.left-addon .glyphicon {
  left: 0px;
}

.right-addon .glyphicon {
  right: 0px;
}

/* add padding  */

.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}

.form-control.customInput {
  height: 38px !important;
  border: 1px solid #13121236 !important;
}

.width-40p {
  width: 40%;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.no-pagination-border {
  border: 1px solid transparent !important;
  border-top: 1px solid #ddd !important;
}

.pagination-summary-text {
  padding: 15px 0;
  font-size: 13px;
}

.text-center {
  text-align: center !important;
}

.mf-datatable
  thead
  th
  a
  span.glyphicon.glyphicon-triangle-bottom.ng-star-inserted,
.mf-datatable
  thead
  th
  a
  span.glyphicon.glyphicon-triangle-top.ng-star-inserted {
  float: right;
}

.mf-datatable tbody td {
  background: #fff;
}

.mat-radio-inner-circle,
.app.indigo-light
  .mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.app.indigo-light
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-persistent-ripple,
.app.indigo-light
  .mat-radio-button.mat-accent:active
  .mat-radio-persistent-ripple {
  background-color: #40c1ff !important;
}

.mat-radio-outer-circle {
  box-sizing: border-box;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  transition: border-color ease 280ms;
  width: 20px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50% !important;
}

.mat-radio-inner-circle {
  border-radius: 50% !important;
  box-sizing: border-box;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform ease 280ms, background-color ease 280ms;
  width: 20px;
  transform: scale(0.001);
}

.app.indigo-light
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #207ede !important;
}

table.days.weeks th {
  background: none !important;
}

.theme-blue .bs-datepicker-head {
  background-color: #1485cc !important;
}

.form-section {
  background: #fff;
  border: 1px solid #ddd;
}

.tdLink {
  color: #1485cc !important;
  cursor: pointer;
}

.toast-success {
  background-color: #51a351;
}

.toast-error {
  background-color: #bd362f;
}

.breadcrumb .breadcrumb-title.active {
  text-transform: none !important;
}

label.form-control-label {
  margin-top: 5px;
}

.app.indigo-light .bg-primary {
  background: #fff !important;
}

.delete-confirm.modal-header {
  background: #1485cc;
  color: #fff;
}

.messages span.text {
  font-size: 12px !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #1485cc !important;
}

.ps {
  overflow: auto !important;
}

.ps--active-y > .ps__rail-y {
  display: none !important;
}

.detail-view th {
  background: #fff !important;
  color: rgba(0, 0, 0, 0.87);
}

.detail-view th {
  width: 40% !important;
  border: unset !important;
}

.detail-view th,
.detail-view td {
  border: unset !important;
}

.login-bg {
  background: linear-gradient(rgba(21, 18, 18, 0.5), rgba(25, 17, 17, 0.5)),
    url('./assets/login-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nopadding {
  padding: 0px !important;
}

.subscriptions ul li {
  border: 1px solid #ddd;
  margin-left: 0px;
}

.btn-success {
  background: #229494 !important;
  color: #fff !important;
}

.mat-dialog-actions .mat-button + .mat-button,
.mat-dialog-actions .mat-button + .mat-raised-button,
.mat-dialog-actions .mat-raised-button + .mat-button,
.mat-dialog-actions .mat-raised-button + .mat-raised-button {
  margin-left: 8px;
}

.margin {
  margin-right: 8px;
}

.app.black-light .mat-fab.mat-primary,
.app.black-light .mat-flat-button.mat-primary,
.app.black-light .mat-mini-fab.mat-primary,
.app.black-light .mat-raised-button.mat-primary {
  background-color: #37474f !important;
}

bs-datepicker-container,
bs-daterangepicker-container {
  z-index: 99999999 !important;
}

.theme-green .bs-datepicker-head {
  background-color: #50636d !important;
}

.bs-datepicker-body table td {
  color: #54708b;
  text-align: center !important;
  position: relative;
  padding: 0;
}
.cdk-overlay-connected-position-bounding-box {
  z-index: 99999 !important;
}
.cdk-overlay-pane.my-dialog {
  position: relative !important;
}
.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}

.custom-header {
  background: #2b9494;
  color: white;
  text-align: center;
  margin-left: -24px !important;
  margin-top: -24px !important;
  margin-right: -24px !important;
  padding: 13px;
  font-weight: 300 !important;
  margin-bottom: 20px !important;
}