td{
    vertical-align: middle !important;
    text-align: center !important;
}

th{
    text-align: center !important;
}

.mine {
    position: fixed;
    bottom: 80px;
    right: 40px;
    background-color: #e6e6e6 !important;
}