

  <mat-card class="col-sm-12 custom-layout" style="background-color: #dbe8f3;margin-bottom: 25px; ">
 
    <div class="col-sm-8 margin-top-10">
      <div class="col-sm-6">
        <label>Issue No:</label>
        <span>&nbsp;&nbsp;04 dt 25.04.16.</span>
      </div>
      <div class="col-sm-6">
        <label>Rev No:</label>
        <span>&nbsp;&nbsp;Rev no. 2, dt: 25.08.2020</span>
      </div>
  
    </div>
    <div class="col-sm-4 ">
      <div class="col-sm-11">
        <label>Format No:</label>
        <span>&nbsp;&nbsp;FT / OP / 05</span>
      </div>
      <!-- <div class="col-sm-5">
        <label>Project Code:</label>
        <span>&nbsp;&nbsp;APM 1028</span>
      </div> -->
      <div class="col-sm-1 no-padding">
        <mat-icon class="pull-right" style="cursor:pointer;color: #2da3ff;" (click)="openSowDailog()">
          edit</mat-icon>
      </div>
    </div>
  </mat-card>


  <mat-card style="padding-top: 35px; padding-bottom: 35px;">
    <div class="row ">
      <div class="col-sm-6">
        <div class="row justify-content-center">
          <div class="col-sm-4">
            <label class="pt-3">EFCO Unique No:            </label>
          </div>
          <div class="col-sm-6">
            <input type="text" style="height: 37px;" placeholder="Enter EFCO Unique No" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row justify-content-center">
          <div class="col-sm-4">
            <label  class="pt-3">Valve Tag No:            </label>
          </div>
          <div class="col-sm-6">
            <input type="text" style="height: 37px;" placeholder="Enter Valve Tag No" class="form-control">
          </div>
        </div>
      </div>
      </div>
      
    <div class="row mt-4">
      <div class="col-sm-6">
        <div class="row justify-content-center">
          <div class="col-sm-4">
            <label class="pt-3">Plant / Unit:</label>
          </div>
          <div class="col-sm-6">
            <input type="text" style="height: 37px;" placeholder="Enter Plant / Unit" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row justify-content-center">
          <div class="col-sm-4">
            <label  class="pt-3">Customer Unique Number:</label>
          </div>
          <div class="col-sm-6">
            <input type="text" style="height: 37px;" placeholder="Enter Customer Unique Number" class="form-control">
          </div>
        </div>
      </div>
      
    </div>
  
  
  
   <div class="row mt-4">
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Make/Manufacturer:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Make/Manufacturer" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label  class="pt-3">Work Order No:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Enter Work Order No:" class="form-control">
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="row mt-4">
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Size:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Size " class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label  class="pt-3">Type/Model:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Type/Model" class="form-control">
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="row mt-4">
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Orifice:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Orifice" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label  class="pt-3">Serial No:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Enter Serial No" class="form-control">
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="row mt-4">
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Set Pressure:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Set Pressure" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Date In:</label>
        </div>
        <div class="col-sm-6">
          <input type="date" style="height: 37px;" placeholder="Date In" class="form-control">
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="row mt-4">
    
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label  class="pt-3">CTDP</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="CTDP" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Date Out:</label>
        </div>
        <div class="col-sm-6">
          <input type="date" style="height: 37px;" placeholder="Date Out" class="form-control">
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-4">
  
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label  class="pt-3">Back Pressure:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Back Pressure" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label  class="pt-3">Guide Ring Setting:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Guide Ring Setting" class="form-control">
        </div>
      </div>
    </div>
    
  </div>
  <div class="row mt-4">
  
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label  class="pt-3">Bellow:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Bellow" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label  class="pt-3">Nozzle Ring Setting:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Nozzle Ring Setting" class="form-control">
        </div>
      </div>
    </div>
    
  </div>
  <div class="row mt-4">
  
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label  class="pt-3">Initial Adj Screw:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Initial Adj Screw" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label  class="pt-3">Initial No. Of Threads:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Guide Ring Setting" class="form-control">
        </div>
      </div>
    </div>
    
  </div>
  <div class="row mt-4">
  
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label  class="pt-3">QAP NO:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="QAP NO" class="form-control">
        </div>
      </div>
    </div>
  </div>
  
  <div class="row justify-content-center mt-5">
    <div class="col-auto">
  <button mat-raised-button class="  btn-primary" routerLink = "/joborders/joborder-dashboard/jobcard/condition1">Save & Continue</button>
    </div>
  </div>
    
  
    
  </mat-card>

