<div class="NewHeader">
  <h1 mat-dialog-title>
    Contracts
  </h1>
</div>

<div class="row" style="margin-top:20px">
  <div class="col-xs-12">
      <div id="grid-table-container" class="table-responsive">
        <p><b>Project #: </b> EAI</p>
          <table matSort id="example2" class="table table-bordered table-hover">
              <thead class="tbl-head">
                  <tr>
                      <th>Contract #</th>
                      <th>Contract Name</th>
                      <th>Client</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of values">
                      <td><a style="color:blue" routerLink="/contracts/project-dashboard/analytics" target="_blank" matTooltip="View Contract Dashboard">{{item.contract}}</a></td>
                      <td>{{item.contractname}}</td>
                      <td>{{item.client}}</td>
  </tr>
</tbody>
</table>

</div>
</div>
</div>

<mat-dialog-actions align="end">
  
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()"><mat-icon>cancel</mat-icon>Close</button>
</mat-dialog-actions> 