.user-form{
    .form-field-outer{
        width: 280px;
    }
    .mat-radio-button{
        margin-right: 12px;
    }
}
.cust-red {
    background: #286ba5;
    color: white;
    text-align: center;
    margin-left: -24px;
    margin-top: -24px;
    margin-right: -24px;
    padding: 6px;
    margin-bottom: 17px;
}