<mat-card class="col-sm-12 custom-layout" style="background-color: #dbe8f3;margin-bottom: 25px; ">

  <div class="col-sm-8 margin-top-10">
    <div class="col-sm-6">
      <label>Issue No:</label>
      <span>&nbsp;&nbsp;04 dt 25.04.16.</span>
    </div>
    <div class="col-sm-6">
      <label>Rev No:</label>
      <span>&nbsp;&nbsp;Rev no. 2, dt: 25.08.2020</span>
    </div>

  </div>
  <div class="col-sm-4 ">
    <div class="col-sm-11">
      <label>Format No:</label>
      <span>&nbsp;&nbsp;FT / OP / 05</span>
    </div>
    <!-- <div class="col-sm-5">
      <label>Project Code:</label>
      <span>&nbsp;&nbsp;APM 1028</span>
    </div> -->
    <div class="col-sm-1 no-padding">
      <mat-icon class="pull-right" style="cursor:pointer;color: #2da3ff;" (click)="openSowDailog()">
        edit</mat-icon>
    </div>
  </div>
</mat-card>


<mat-card style="padding-top: 35px; padding-bottom: 35px;">
  <!-- <div class="row ">
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Format Number:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Enter Format Number" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Issue Number:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Enter Issue Number" class="form-control">
        </div>
      </div>
    </div>
  </div> -->

  <div class="row mt-4">
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">EFCO Unique Number:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Enter EFCO Unique Number" class="form-control">
        </div>
      </div>
    </div>
     <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Customer Unique Number:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Enter Customer Unique Number" class="form-control">
        </div>
      </div>
    </div>

  </div>



  <div class="row mt-4">
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Plant/Unit:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Plant/Unit" class="form-control">
        </div>
      </div>
    </div>
   
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Work Order Number:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Enter Work Order Number" class="form-control">
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Contact Person:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Contact Person" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Size (DN/Inch):</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Size (DN/Inch)" class="form-control">
        </div>
      </div>
    </div>
    

  </div>

  <div class="row mt-4">
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Make/Manufacturer:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Make/Manufacturer" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Valve Type:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Valve Type" class="form-control">
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Class (Rating/PIN):</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Class (Rating/PIN)" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Service Medium:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Service Medium" class="form-control">
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-4">
   
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Flange Type:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Flange Type" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Date Dismantled</label>
        </div>
        <div class="col-sm-6">
          <input type="date" style="height: 37px;" placeholder="Date Dismantled" class="form-control">
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-4">

   
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Color of Paint:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Color of Paint" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">Date Completed:</label>
        </div>
        <div class="col-sm-6">
          <input type="date" style="height: 37px;" placeholder="Date Completed" class="form-control">
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <label class="pt-3">QAP No:</label>
        </div>
        <div class="col-sm-6">
          <input type="text" style="height: 37px;" placeholder="Enter QAP No" class="form-control">
        </div>
      </div>
    </div>
  

  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-auto">
      <button mat-raised-button class="  btn-primary" routerLink="/joborders/joborder-dashboard/jobcard/condition">Save
        & Continue</button>
    </div>
  </div>



</mat-card>